designs/pages/explore/get_estimate.json
[
    {
        "id": "sd_kKFuP5nWCrGUP4ql",
        "type": "tab",
        "createdDate": "2024-05-22T06:11:33.612Z",
        "label": "get_estimate",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_NObBe0iM8l3963bS",
        "type": "OnInit",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_NObBe0iM8l3963bS",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 40,
        "wires": [
            [
                "sd_PSA5f4hv3nde9tDq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_PSA5f4hv3nde9tDq",
        "type": "PageVariables",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "loanForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_PSA5f4hv3nde9tDq",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_Fabhvkt3OE8bx2AZ",
                "sd_g8ReqdGjPxnzkpHE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_9SXNqRKXdtHIBXr9",
        "type": "PageStart",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getLoan",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getLoan",
        "category": "General",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "sd_QcLOOv9drpClAf8R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_QcLOOv9drpClAf8R",
        "type": "Script",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\n",
        "functionName": "sd_QcLOOv9drpClAf8R",
        "category": "Function",
        "x": 265,
        "y": 380,
        "wires": [
            [
                "sd_2DoGR90xSWXujHbV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_2DoGR90xSWXujHbV",
        "type": "PageSwitch",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2DoGR90xSWXujHbV",
        "category": "Function",
        "x": 385,
        "y": 380,
        "wires": [
            [
                "sd_apIJD4PmQy2uNWAT"
            ],
            [
                "sd_2BUhyhGh6oUweanQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_2BUhyhGh6oUweanQ",
        "type": "SnackBar",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Haibo"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2BUhyhGh6oUweanQ",
        "category": "General",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_apIJD4PmQy2uNWAT",
        "type": "Environment",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_apIJD4PmQy2uNWAT",
        "category": "General",
        "x": 505,
        "y": 320,
        "wires": [
            [
                "sd_dYcfqmB6pzPZ8ckt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_dYcfqmB6pzPZ8ckt",
        "type": "Script",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"add-loan\"\n\nbh.loanForm = {routeData: JSON.stringify(page.loanForm), _type: 'loan'}\n\n",
        "functionName": "sd_dYcfqmB6pzPZ8ckt",
        "category": "Function",
        "x": 625,
        "y": 320,
        "wires": [
            [
                "sd_gSSwid5YoEpCPg0C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_gSSwid5YoEpCPg0C",
        "type": "HttpRequest",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.loanForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "loanForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_gSSwid5YoEpCPg0C",
        "category": "HTTP",
        "x": 725,
        "y": 320,
        "wires": [
            [
                "sd_FIrHcfFSUN4UZI7u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_g8ReqdGjPxnzkpHE",
        "type": "Log",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selected",
        "functionName": "sd_g8ReqdGjPxnzkpHE",
        "category": "General",
        "x": 345,
        "y": 140,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selected",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_Fabhvkt3OE8bx2AZ",
        "type": "Storage",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_Fabhvkt3OE8bx2AZ",
        "category": "Storage",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_nSEedhxVPLBC1zCI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_nSEedhxVPLBC1zCI",
        "type": "Script",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.loanForm = {\n     amount: \"\",\n     months: \"\",\n     salary: \"\",\n     reason: \"\",\n     email: page.user.email,\n     fullName:page.user.fullName,\n     accountNumber: page.user.accountNumber \n }\n\n",
        "functionName": "sd_nSEedhxVPLBC1zCI",
        "category": "Function",
        "x": 445,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_FIrHcfFSUN4UZI7u",
        "type": "Navigation",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "bh",
            "value": "loanForm"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_FIrHcfFSUN4UZI7u",
        "category": "Navigation",
        "x": 965,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_NsmMGL6cf8Z4vEJI",
        "type": "PageStart",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "pages",
        "nodeType": "start",
        "name": "add balance",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addBalance",
        "category": "General",
        "x": 145,
        "y": 680,
        "wires": [
            [
                "sd_YwYVV6UFHsZe03mT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_YwYVV6UFHsZe03mT",
        "type": "Environment",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_YwYVV6UFHsZe03mT",
        "category": "General",
        "x": 250,
        "y": 680,
        "wires": [
            [
                "sd_fQ8CYhBBgYPje1eR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_fQ8CYhBBgYPje1eR",
        "type": "Script",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"get-loans\"\n\nbh.body = {\n    collection: \"loans\"\n}",
        "functionName": "sd_fQ8CYhBBgYPje1eR",
        "category": "Function",
        "x": 345,
        "y": 680,
        "wires": [
            [
                "sd_KXQC4M8kizhfAZEJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_KXQC4M8kizhfAZEJ",
        "type": "HttpRequest",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.loan_res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "loan_res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_KXQC4M8kizhfAZEJ",
        "category": "HTTP",
        "x": 445,
        "y": 680,
        "wires": [
            [
                "sd_MJmTsCg4FUO9wm8q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_nUn0ZcAAzrxWTVyW",
        "type": "Log",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.results_loans",
        "functionName": "sd_nUn0ZcAAzrxWTVyW",
        "category": "General",
        "x": 905,
        "y": 820,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "results_loans",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_RCb1yTSfRb9R7cpq",
        "type": "PageSwitch",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loans.status",
        "propertyType": "bh",
        "propertyGv": "bh.loans.status",
        "rules": [
            {
                "t": "eq",
                "v": "approved",
                "vt": "str",
                "gv": "\"approved\""
            },
            {
                "t": "eq",
                "v": "pending",
                "vt": "str",
                "gv": "\"pending\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_RCb1yTSfRb9R7cpq",
        "category": "Function",
        "x": 625,
        "y": 680,
        "wires": [
            [],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_MJmTsCg4FUO9wm8q",
        "type": "Script",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.loans = page.loan_res.filter((user:any)=>{\n    return user.email == page.user.email\n})\n\nconsole.log(bh.loans)",
        "functionName": "sd_MJmTsCg4FUO9wm8q",
        "category": "Function",
        "x": 545,
        "y": 680,
        "wires": [
            [
                "sd_RCb1yTSfRb9R7cpq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    },
    {
        "id": "sd_op0fTvXXMzt7ERyI",
        "type": "SnackBar",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": ""
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": ""
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_op0fTvXXMzt7ERyI",
        "category": "General",
        "x": 745,
        "y": 740,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_7Jo0khI8yAg8QmRF",
        "type": "PageStart",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "sd_XGIT0VnKgNJ2XrTB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_estimateComponent"
    },
    {
        "id": "sd_XGIT0VnKgNJ2XrTB",
        "type": "PageCallService",
        "z": "sd_kKFuP5nWCrGUP4ql",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_XGIT0VnKgNJ2XrTB",
        "category": "General",
        "x": 300,
        "y": 840,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_estimateComponent",
        "generated": true
    }
]
