designs/pages/transact/add_electricity_ben.json
[
    {
        "id": "sd_D1hMzChH8qZpINvk",
        "type": "tab",
        "createdDate": "2024-05-20T10:04:53.112Z",
        "label": "add_electricity_ben",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "add_electricity_benComponent"
    },
    {
        "id": "sd_4pmxDWUDTCW1NkXl",
        "type": "OnInit",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4pmxDWUDTCW1NkXl",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_VL1zlaote2UI4k8Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_electricity_benComponent"
    },
    {
        "id": "sd_VL1zlaote2UI4k8Y",
        "type": "PageVariables",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "electric",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "electric"
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_VL1zlaote2UI4k8Y",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_NoX1CtqIGZCLH1i5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_lZn42Dc2ZX4U6P4q",
        "type": "Script",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electric = {\n    meterNumber : \"\",\n    benName: \"\",\n    belongsTo: page.result.accountNumber,\n    cellPhone: \"\",\n}\n",
        "functionName": "sd_lZn42Dc2ZX4U6P4q",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_NoX1CtqIGZCLH1i5",
        "type": "Storage",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_NoX1CtqIGZCLH1i5",
        "category": "Storage",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "sd_lZn42Dc2ZX4U6P4q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_wGSCmU9uNxGGykSE",
        "type": "PageStart",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addBeneficiary",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addBeneficiary",
        "category": "General",
        "x": 60,
        "y": 200,
        "wires": [
            [
                "sd_caQLY02q6nk65Ws7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_electricity_benComponent"
    },
    {
        "id": "sd_caQLY02q6nk65Ws7",
        "type": "Script",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_caQLY02q6nk65Ws7",
        "category": "Function",
        "x": 185,
        "y": 200,
        "wires": [
            [
                "sd_ZulLOSXrNMHmQzky"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_ZulLOSXrNMHmQzky",
        "type": "PageSwitch",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ZulLOSXrNMHmQzky",
        "category": "Function",
        "x": 325,
        "y": 200,
        "wires": [
            [
                "sd_kfifbo2sIFGm5kl9"
            ],
            [
                "sd_GKVxOWd4q4y2a21K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_GKVxOWd4q4y2a21K",
        "type": "SnackBar",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_GKVxOWd4q4y2a21K",
        "category": "General",
        "x": 465,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_kfifbo2sIFGm5kl9",
        "type": "Environment",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_kfifbo2sIFGm5kl9",
        "category": "General",
        "x": 465,
        "y": 160,
        "wires": [
            [
                "sd_LCL8IPnUcbpewMH1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_LCL8IPnUcbpewMH1",
        "type": "Script",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"add-beneficiary-electricity\";\nbh.body = page.electric\n\npage.routeData = page.electric\npage.routeData = {routeData: JSON.stringify(page.routeData)}\n",
        "functionName": "sd_LCL8IPnUcbpewMH1",
        "category": "Function",
        "x": 585,
        "y": 160,
        "wires": [
            [
                "sd_YhPqqvVDcXPL2FM5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_YhPqqvVDcXPL2FM5",
        "type": "HttpRequest",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_YhPqqvVDcXPL2FM5",
        "category": "HTTP",
        "x": 685,
        "y": 160,
        "wires": [
            [
                "sd_2TVgBTSmMuYcgjkK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_2TVgBTSmMuYcgjkK",
        "type": "Navigation",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_2TVgBTSmMuYcgjkK",
        "category": "Navigation",
        "x": 785,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    },
    {
        "id": "sd_gTF1lsItsaAgcdfM",
        "type": "PageStart",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 400,
        "wires": [
            [
                "sd_yMKS36KU4TURO3dg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_electricity_benComponent"
    },
    {
        "id": "sd_yMKS36KU4TURO3dg",
        "type": "PageCallService",
        "z": "sd_D1hMzChH8qZpINvk",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_yMKS36KU4TURO3dg",
        "category": "General",
        "x": 225,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_electricity_benComponent",
        "generated": true
    }
]
