designs/pages/transact/bank_account.json
[
    {
        "id": "sd_Xu2PaSFvbZ4mtU7N",
        "type": "tab",
        "createdDate": "2024-05-20T09:04:30.626Z",
        "label": "bank_account",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "bank_accountComponent"
    },
    {
        "id": "sd_9TtGfMb30fE67Bnf",
        "type": "OnInit",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_9TtGfMb30fE67Bnf",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_2XrwS0UtsmCuSrvf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "bank_accountComponent"
    },
    {
        "id": "sd_2XrwS0UtsmCuSrvf",
        "type": "PageVariables",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_2XrwS0UtsmCuSrvf",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_N6qo0aCmrvhP3EBE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_N6qo0aCmrvhP3EBE",
        "type": "Storage",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_N6qo0aCmrvhP3EBE",
        "category": "Storage",
        "x": 205,
        "y": 60,
        "wires": [
            [
                "sd_0fKRhsAOH1BshTOf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_0fKRhsAOH1BshTOf",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let initial = page.user.fullName.split(' ')[0][0]\nlet lastName = page.user.fullName.split(' ')[1]\npage.benRef = `${initial} ${lastName}`\nconsole.log('Ben Ref: ', page.benRef)\n\npage.benDetails = {benName: '', bankName: '', branchCode: '', benRef: page.benRef , notification: 'None', belongsTo: page.user.accountNumber, accountNumber: ''}",
        "functionName": "sd_0fKRhsAOH1BshTOf",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_a6pPuZ8OF5wSJUPT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_poByWznRdhTbfCmJ",
        "type": "PageStart",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 240,
        "wires": [
            [
                "sd_XuXrQp5ySZgScyBq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "bank_accountComponent"
    },
    {
        "id": "sd_LAZfDOSXMSXzWcXN",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.form)\nbh.url = page.ssdURL + 'get-customers'\n\nconsole.log(bh.url)\n\npage.submitted = true\n\npage.routeData = {data: JSON.stringify(page.benDetails)}",
        "functionName": "sd_LAZfDOSXMSXzWcXN",
        "category": "Function",
        "x": 205,
        "y": 240,
        "wires": [
            [
                "sd_azbOgn0Vg6X86wDp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_azbOgn0Vg6X86wDp",
        "type": "PageSwitch",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_azbOgn0Vg6X86wDp",
        "category": "Function",
        "x": 285,
        "y": 240,
        "wires": [
            [
                "sd_PLMgfl8fqEk1Npcx"
            ],
            [
                "sd_prHoaeZ9kGOlifn3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_oPGCE7Cg8zVUZ848",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.customers)\n    page.isCapitecNum = page.customers.find((customer: any) => {\n        if(customer.accountNumber == page.benDetails.accountNumber) {\n            console.log(customer.accontNumber)\n            console.log(page.benDetails.accountNumber)\n            return customer\n        }\n    })\n\nconsole.log(page.isCapitecNum)",
        "functionName": "sd_oPGCE7Cg8zVUZ848",
        "category": "Function",
        "x": 545,
        "y": 180,
        "wires": [
            [
                "sd_Cewpwwr15wSHzrr6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_prHoaeZ9kGOlifn3",
        "type": "SnackBar",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Check required fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_prHoaeZ9kGOlifn3",
        "category": "General",
        "x": 365,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_XuXrQp5ySZgScyBq",
        "type": "Environment",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XuXrQp5ySZgScyBq",
        "category": "General",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "sd_LAZfDOSXMSXzWcXN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_PLMgfl8fqEk1Npcx",
        "type": "HttpRequest",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.customers",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "customers"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_PLMgfl8fqEk1Npcx",
        "category": "HTTP",
        "x": 365,
        "y": 180,
        "wires": [
            [
                "sd_Oc50Mh1gcSDMtX57"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_Cewpwwr15wSHzrr6",
        "type": "PageSwitch",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCapitecNum",
        "propertyType": "this.page",
        "propertyGv": "this.page.isCapitecNum",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Cewpwwr15wSHzrr6",
        "category": "Function",
        "x": 645,
        "y": 180,
        "wires": [
            [
                "sd_CulXFBndftjpLFyX"
            ],
            [
                "sd_9DAehTDjOy1LSobq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_ANbRFdCPkApvNVBJ",
        "type": "HttpRequest",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.benDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "benDetails"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_ANbRFdCPkApvNVBJ",
        "category": "HTTP",
        "x": 645,
        "y": 360,
        "wires": [
            [
                "sd_6kSWUIqfHXQgapDL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_HHAmbsX0z8stwGwR",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'add-beneficiary'\npage.benDetails.createdDate = new Date()\nbh.ben = {routeData: JSON.stringify(page.benDetails)}",
        "functionName": "sd_HHAmbsX0z8stwGwR",
        "category": "Function",
        "x": 545,
        "y": 360,
        "wires": [
            [
                "sd_ANbRFdCPkApvNVBJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_CulXFBndftjpLFyX",
        "type": "PageSwitch",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCapitecNum.accountNumber",
        "propertyType": "this.page",
        "propertyGv": "this.page.isCapitecNum.accountNumber",
        "rules": [
            {
                "t": "eq",
                "v": "user.accontNumber",
                "vt": "this.page",
                "gv": "this.page.user.accontNumber"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_CulXFBndftjpLFyX",
        "category": "Function",
        "x": 725,
        "y": 120,
        "wires": [
            [
                "sd_4dIzGfAZqDlHF0Eq"
            ],
            [
                "sd_zH8P6JqSyHyuNh4u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_4dIzGfAZqDlHF0Eq",
        "type": "SnackBar",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "You can't add your own capitec account"
        },
        "action": {
            "type": "str",
            "value": "0K"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4dIzGfAZqDlHF0Eq",
        "category": "General",
        "x": 805,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_at48XYvjRD1eYmst",
        "type": "HttpRequest",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.benDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "benDetails"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_at48XYvjRD1eYmst",
        "category": "HTTP",
        "x": 925,
        "y": 180,
        "wires": [
            [
                "sd_rBj1klfVgmj0ZEen"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_zH8P6JqSyHyuNh4u",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'add-beneficiary'\npage.benDetails.createdDate = new Date()\nconsole.log('Adding from this bank account')\n\n\nbh.ben = {routeData: JSON.stringify(page.benDetails)}",
        "functionName": "sd_zH8P6JqSyHyuNh4u",
        "category": "Function",
        "x": 805,
        "y": 180,
        "wires": [
            [
                "sd_at48XYvjRD1eYmst"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_Oc50Mh1gcSDMtX57",
        "type": "PageSwitch",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "benDetails.bankName",
        "propertyType": "this.page",
        "propertyGv": "this.page.benDetails.bankName",
        "rules": [
            {
                "t": "eq",
                "v": "Capitec Bank",
                "vt": "str",
                "gv": "\"Capitec Bank\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Oc50Mh1gcSDMtX57",
        "category": "Function",
        "x": 465,
        "y": 180,
        "wires": [
            [
                "sd_oPGCE7Cg8zVUZ848"
            ],
            [
                "sd_HHAmbsX0z8stwGwR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_9DAehTDjOy1LSobq",
        "type": "SnackBar",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "This is not a capitec account"
        },
        "action": {
            "type": "str",
            "value": "0K"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_9DAehTDjOy1LSobq",
        "category": "General",
        "x": 725,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_v3uAxemuXpPAQsWz",
        "type": "PageStart",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "start",
        "name": "choseBank",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "choseBank",
        "category": "General",
        "x": 45,
        "y": 420,
        "wires": [
            [
                "sd_FUHLfQN95x4cjV0J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "bank_accountComponent"
    },
    {
        "id": "sd_FUHLfQN95x4cjV0J",
        "type": "Storage",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "ben"
        },
        "value": {
            "type": "this.page",
            "value": "newBen"
        },
        "resultMapping": {},
        "functionName": "sd_FUHLfQN95x4cjV0J",
        "category": "Storage",
        "x": 125,
        "y": 420,
        "wires": [
            [
                "sd_HdF7A2BnfEocvY5P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_HdF7A2BnfEocvY5P",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.routeData = {routeData: JSON.stringify(page.benDetails)}",
        "functionName": "sd_HdF7A2BnfEocvY5P",
        "category": "Function",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "sd_U42MkJWcVt3tLY56"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_U42MkJWcVt3tLY56",
        "type": "Navigation",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/logged_in_landing/choose_banks",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_U42MkJWcVt3tLY56",
        "category": "Navigation",
        "x": 365,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_a6pPuZ8OF5wSJUPT",
        "type": "NavigationData",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "tmpOp": "",
        "tmpOpType": "",
        "operationType": "queryParams",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "bh.routeData",
        "functionName": "sd_a6pPuZ8OF5wSJUPT",
        "category": "Navigation",
        "x": 365,
        "y": 60,
        "wires": [
            [
                "sd_j7djxi4X7pePCVQ3"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "routeData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_j7djxi4X7pePCVQ3",
        "type": "PageSwitch",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "routeData.data",
        "propertyType": "bh",
        "propertyGv": "bh.routeData.data",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_j7djxi4X7pePCVQ3",
        "category": "Function",
        "x": 460,
        "y": 60,
        "wires": [
            [
                "sd_ALfvLYfc1lgPasLv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_ALfvLYfc1lgPasLv",
        "type": "Script",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.benDetails = JSON.parse(bh.routeData.data)",
        "functionName": "sd_ALfvLYfc1lgPasLv",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_D7Y1E17XZgA6hEyC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_D7Y1E17XZgA6hEyC",
        "type": "Log",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.benDetails",
        "functionName": "sd_D7Y1E17XZgA6hEyC",
        "category": "General",
        "x": 625,
        "y": 60,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "benDetails",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_6kSWUIqfHXQgapDL",
        "type": "Navigation",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_6kSWUIqfHXQgapDL",
        "category": "Navigation",
        "x": 760,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_rBj1klfVgmj0ZEen",
        "type": "Navigation",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "bh",
            "value": "ben"
        },
        "qparamsArray": "",
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_rBj1klfVgmj0ZEen",
        "category": "Navigation",
        "x": 1045,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    },
    {
        "id": "sd_msSc8ZWG8Y85GWUB",
        "type": "PageStart",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 560,
        "wires": [
            [
                "sd_xpIkJOajxKtZ5XDC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "bank_accountComponent"
    },
    {
        "id": "sd_xpIkJOajxKtZ5XDC",
        "type": "PageCallService",
        "z": "sd_Xu2PaSFvbZ4mtU7N",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_xpIkJOajxKtZ5XDC",
        "category": "General",
        "x": 225,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "bank_accountComponent",
        "generated": true
    }
]
