designs/pages/transact/buy_airtime.json
[
    {
        "id": "sd_RYQZpeV3QJ8S1ZR9",
        "type": "tab",
        "createdDate": "2024-05-27T06:16:40.788Z",
        "label": "buy_airtime",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_qgOl7xPfpLhk11jg",
        "type": "OnInit",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_qgOl7xPfpLhk11jg",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_CwMcluLfsmHhIPWt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_CwMcluLfsmHhIPWt",
        "type": "PageVariables",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "airArray",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "airtimeForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_CwMcluLfsmHhIPWt",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_PckLjjatC9m7bL9P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_PckLjjatC9m7bL9P",
        "type": "Storage",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "airtimeBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_PckLjjatC9m7bL9P",
        "category": "Storage",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_QUUQx6qGjyX1roiE",
                "sd_0KVw1MT4hc5U8tpn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_QUUQx6qGjyX1roiE",
        "type": "Log",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selected",
        "functionName": "sd_QUUQx6qGjyX1roiE",
        "category": "General",
        "x": 405,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selected",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_JvH1qg9AIVxPAmsH",
        "type": "Script",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.electricForm = {\n//     amount: \"\",\n//     to: page.selected.meterNumber,\n//     from: page.user.accountNumber\n// }\n\n// console.log(page.electricForm)\n",
        "functionName": "sd_JvH1qg9AIVxPAmsH",
        "category": "Function",
        "x": 605,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_0KVw1MT4hc5U8tpn",
        "type": "Storage",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_0KVw1MT4hc5U8tpn",
        "category": "Storage",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_Ry7YibmbY9Y5rvjO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_SpmgPe4nQNjEepkr",
        "type": "PageStart",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buy airtime",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyAirtime",
        "category": "General",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "sd_vLWb1y6VuxvPdhHG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_vLWb1y6VuxvPdhHG",
        "type": "Script",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\n",
        "functionName": "sd_vLWb1y6VuxvPdhHG",
        "category": "Function",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_onROqHqUyLBJ7PMu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_onROqHqUyLBJ7PMu",
        "type": "PageSwitch",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_onROqHqUyLBJ7PMu",
        "category": "Function",
        "x": 345,
        "y": 260,
        "wires": [
            [
                "sd_eJMq9gjTFISbYfuh"
            ],
            [
                "sd_0jVYYb1Z5EeZxLcF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_eJMq9gjTFISbYfuh",
        "type": "SnackBar",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Yes Girl"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_eJMq9gjTFISbYfuh",
        "category": "General",
        "x": 485,
        "y": 220,
        "wires": [
            [
                "sd_b35Fpz8VAc4LXN6u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_0jVYYb1Z5EeZxLcF",
        "type": "SnackBar",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Haibo"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0jVYYb1Z5EeZxLcF",
        "category": "General",
        "x": 460,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_Ry7YibmbY9Y5rvjO",
        "type": "Script",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.airtimeForm = {\n     amount: \"\",\n     productType: \"\",\n     from: page.user.accountNumber,\n     to: \"Airtime\"\n }\n\n",
        "functionName": "sd_Ry7YibmbY9Y5rvjO",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_JvH1qg9AIVxPAmsH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_b35Fpz8VAc4LXN6u",
        "type": "Environment",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_b35Fpz8VAc4LXN6u",
        "category": "General",
        "x": 625,
        "y": 220,
        "wires": [
            [
                "sd_sawGifx5X9xOPMTQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_sawGifx5X9xOPMTQ",
        "type": "Script",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"buy-airtime\"\n\n",
        "functionName": "sd_sawGifx5X9xOPMTQ",
        "category": "Function",
        "x": 747.7777709960938,
        "y": 216.44674682617188,
        "wires": [
            [
                "sd_KdGpmXUoMa47uI0L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_KdGpmXUoMa47uI0L",
        "type": "HttpRequest",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.airtimeForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "airtimeForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_KdGpmXUoMa47uI0L",
        "category": "HTTP",
        "x": 865,
        "y": 220,
        "wires": [
            [
                "sd_MzHXeeI7ABNylgVK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_MzHXeeI7ABNylgVK",
        "type": "Navigation",
        "z": "sd_RYQZpeV3QJ8S1ZR9",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/buy-prepaid-mobile",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_MzHXeeI7ABNylgVK",
        "category": "Navigation",
        "x": 985,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    }
]
