designs/pages/transact/buy_prepaid.json
[
    {
        "id": "sd_uGWPGTQNmYmlKTqw",
        "type": "tab",
        "createdDate": "2024-05-07T18:39:10.689Z",
        "label": "buy_prepaid",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "buy_prepaidComponent"
    },
    {
        "id": "sd_ggt2meNZFITLAtSS",
        "type": "OnInit",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_ggt2meNZFITLAtSS",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 60,
        "wires": [
            [
                "sd_eRPEZf3wmpsSG7xX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_prepaidComponent"
    },
    {
        "id": "sd_eRPEZf3wmpsSG7xX",
        "type": "PageVariables",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "prepaid",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "prepaid"
                }
            },
            {
                "textIp": "menu",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_eRPEZf3wmpsSG7xX",
        "category": "Function",
        "x": 205,
        "y": 60,
        "wires": [
            [
                "sd_YkqQWirAUoZD8L7O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_M53KjF9stPfYauYD",
        "type": "Script",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.prepaid = {\n    cellphone: \"\",\n    benName: \"\",\n    accountNumber: page.result.accountNumber\n}\n\nconsole.log(page.result)\n\npage.menu = ['Cell C', 'Vodacom', 'MTN', 'Telkom Network', '']",
        "functionName": "sd_M53KjF9stPfYauYD",
        "category": "Function",
        "x": 445,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_YkqQWirAUoZD8L7O",
        "type": "Storage",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_YkqQWirAUoZD8L7O",
        "category": "Storage",
        "x": 325,
        "y": 60,
        "wires": [
            [
                "sd_M53KjF9stPfYauYD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_apes67a8xbDUAgXM",
        "type": "PageStart",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addBen",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addBen",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_wr3840V8vLMaAHu1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_prepaidComponent"
    },
    {
        "id": "sd_wr3840V8vLMaAHu1",
        "type": "Script",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_wr3840V8vLMaAHu1",
        "category": "Function",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "sd_yk3MmJ8ZWqQmV65b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_yk3MmJ8ZWqQmV65b",
        "type": "PageSwitch",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_yk3MmJ8ZWqQmV65b",
        "category": "Function",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "sd_2p42kMIVJi6GZBAZ"
            ],
            [
                "sd_2OjN65Yh3Aa3k3hS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_2p42kMIVJi6GZBAZ",
        "type": "SnackBar",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ke yona"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2p42kMIVJi6GZBAZ",
        "category": "General",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "sd_eKLO3P7pK4ghZNPz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_2OjN65Yh3Aa3k3hS",
        "type": "SnackBar",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Never"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2OjN65Yh3Aa3k3hS",
        "category": "General",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_eKLO3P7pK4ghZNPz",
        "type": "Environment",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_eKLO3P7pK4ghZNPz",
        "category": "General",
        "x": 605,
        "y": 180,
        "wires": [
            [
                "sd_duFQsPROes1xWyJy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_duFQsPROes1xWyJy",
        "type": "Script",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"add-beneficiary-airtime\";\nbh.body = page.prepaid\n\nconsole.log(bh.body)",
        "functionName": "sd_duFQsPROes1xWyJy",
        "category": "Function",
        "x": 745,
        "y": 180,
        "wires": [
            [
                "sd_gJCzJ6SMAK6eTgC5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_gJCzJ6SMAK6eTgC5",
        "type": "HttpRequest",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_gJCzJ6SMAK6eTgC5",
        "category": "HTTP",
        "x": 885,
        "y": 180,
        "wires": [
            [
                "sd_nSj5iIfAN9TyRM0z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    },
    {
        "id": "sd_nSj5iIfAN9TyRM0z",
        "type": "Log",
        "z": "sd_uGWPGTQNmYmlKTqw",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.results",
        "functionName": "sd_nSj5iIfAN9TyRM0z",
        "category": "General",
        "x": 1005,
        "y": 180,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "results",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_prepaidComponent",
        "generated": true
    }
]
