designs/pages/transact/cellphone.json
[
    {
        "id": "sd_xIZuhBBYE4iCz9hC",
        "type": "tab",
        "createdDate": "2024-05-20T08:03:30.129Z",
        "label": "cellphone",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "cellphoneComponent"
    },
    {
        "id": "sd_EvOjhlbEB71ykLuV",
        "type": "OnInit",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_EvOjhlbEB71ykLuV",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_rTnAgKOWPRBTKAfp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "cellphoneComponent"
    },
    {
        "id": "sd_rTnAgKOWPRBTKAfp",
        "type": "PageVariables",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "benRef",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "benDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "isCapitecNum",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            }
        ],
        "functionName": "sd_rTnAgKOWPRBTKAfp",
        "category": "Function",
        "x": 205,
        "y": 60,
        "wires": [
            [
                "sd_tdOIGVSlQsQfcpFO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_tdOIGVSlQsQfcpFO",
        "type": "Storage",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_tdOIGVSlQsQfcpFO",
        "category": "Storage",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "sd_gmLEPbkMfFzGBZgi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_gmLEPbkMfFzGBZgi",
        "type": "Script",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let initial = page.user.fullName.split(' ')[0][0]\nlet lastName = page.user.fullName.split(' ')[1]\npage.benRef = `${initial} ${lastName}`\nconsole.log('Ben Ref: ', page.benRef)\n\npage.benDetails = {benName: '', benNumber: '', benRef: page.benRef , notification: '', belongsTo: page.user.accountNumber}",
        "functionName": "sd_gmLEPbkMfFzGBZgi",
        "category": "Function",
        "x": 420,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_FkoO8G1NKZ6EdS3P",
        "type": "PageStart",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_BNRoTWy6w9Y5sL14"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "cellphoneComponent"
    },
    {
        "id": "sd_fdFVHGdfCtjWh85B",
        "type": "Script",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.form)\nbh.url = page.ssdURL + 'get-customers'\n\nconsole.log(bh.url)\n\npage.submitted = true",
        "functionName": "sd_fdFVHGdfCtjWh85B",
        "category": "Function",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_ulUst75WAdqMyBs3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_ulUst75WAdqMyBs3",
        "type": "PageSwitch",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ulUst75WAdqMyBs3",
        "category": "Function",
        "x": 305,
        "y": 220,
        "wires": [
            [
                "sd_sqwU9JsRJsZvpTr5"
            ],
            [
                "sd_QW5CFTjo4u19Jfkc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_XXWYKFf2ojQk7chx",
        "type": "Script",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.customers)\npage.isCapitecNum = page.customers.find((customer: any) => {\n    if(customer.contacts == page.benDetails.benNumber) {\n        console.log(customer.contacts)\n        console.log(page.benDetails.benNumber)\n        return customer\n    }\n})\n\nconsole.log(page.isCapitecNum)\n\npage.user = page.customers.find((customer: any) => customer.accountNumber == page.user.accountNumber)\n\nconsole.log(page.user)",
        "functionName": "sd_XXWYKFf2ojQk7chx",
        "category": "Function",
        "x": 565,
        "y": 120,
        "wires": [
            [
                "sd_8JjqJeUKsf7gOAlE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_QW5CFTjo4u19Jfkc",
        "type": "SnackBar",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Check required fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_QW5CFTjo4u19Jfkc",
        "category": "General",
        "x": 450,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_BNRoTWy6w9Y5sL14",
        "type": "Environment",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_BNRoTWy6w9Y5sL14",
        "category": "General",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "sd_fdFVHGdfCtjWh85B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_sqwU9JsRJsZvpTr5",
        "type": "HttpRequest",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.customers",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "customers"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_sqwU9JsRJsZvpTr5",
        "category": "HTTP",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_XXWYKFf2ojQk7chx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_8JjqJeUKsf7gOAlE",
        "type": "PageSwitch",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCapitecNum",
        "propertyType": "this.page",
        "propertyGv": "this.page.isCapitecNum",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_8JjqJeUKsf7gOAlE",
        "category": "Function",
        "x": 665,
        "y": 120,
        "wires": [
            [
                "sd_FSKpeqDb2eBWMfYo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_FSKpeqDb2eBWMfYo",
        "type": "PageSwitch",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isCapitecNum.contacts",
        "propertyType": "this.page",
        "propertyGv": "this.page.isCapitecNum.contacts",
        "rules": [
            {
                "t": "eq",
                "v": "user.contacts",
                "vt": "this.page",
                "gv": "this.page.user.contacts"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FSKpeqDb2eBWMfYo",
        "category": "Function",
        "x": 765,
        "y": 120,
        "wires": [
            [
                "sd_hm8AdCtHqndHWjeM"
            ],
            [
                "sd_0LB6CBTQg7NgQWSH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_hm8AdCtHqndHWjeM",
        "type": "SnackBar",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Cannot use your own number"
        },
        "action": {
            "type": "str",
            "value": "0K"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_hm8AdCtHqndHWjeM",
        "category": "General",
        "x": 865,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_zbmNpZz8SQPpZfaT",
        "type": "HttpRequest",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.benDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "benDetails"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_zbmNpZz8SQPpZfaT",
        "category": "HTTP",
        "x": 985,
        "y": 180,
        "wires": [
            [
                "sd_BgPitruGIpXi75oG",
                "sd_id6BNyoPhv8c71a5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_0LB6CBTQg7NgQWSH",
        "type": "Script",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'add-beneficiary'\npage.benDetails.createdDate = new Date()\nbh.ben = {routeData: JSON.stringify(page.benDetails)}",
        "functionName": "sd_0LB6CBTQg7NgQWSH",
        "category": "Function",
        "x": 865,
        "y": 180,
        "wires": [
            [
                "sd_zbmNpZz8SQPpZfaT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_BgPitruGIpXi75oG",
        "type": "Navigation",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "bh",
            "value": "ben"
        },
        "qparamsArray": "",
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_BgPitruGIpXi75oG",
        "category": "Navigation",
        "x": 1125,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_id6BNyoPhv8c71a5",
        "type": "Log",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_id6BNyoPhv8c71a5",
        "category": "General",
        "x": 1105,
        "y": 300,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    },
    {
        "id": "sd_vuBnuigTM9Ernh6i",
        "type": "PageStart",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 65,
        "y": 400,
        "wires": [
            [
                "sd_ytdEEKTJiEmE1EwH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "cellphoneComponent"
    },
    {
        "id": "sd_ytdEEKTJiEmE1EwH",
        "type": "PageCallService",
        "z": "sd_xIZuhBBYE4iCz9hC",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ytdEEKTJiEmE1EwH",
        "category": "General",
        "x": 205,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "cellphoneComponent",
        "generated": true
    }
]
