designs/pages/transact/ele.json
[
    {
        "id": "sd_zpKRNUPOQbwYIsa8",
        "type": "tab",
        "createdDate": "2024-06-16T18:26:32.819Z",
        "label": "ele",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "eleComponent"
    },
    {
        "id": "sd_ElqLfE5Vukot2Pk2",
        "type": "OnInit",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ElqLfE5Vukot2Pk2",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_RPawcl3sEzQynRMA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "eleComponent"
    },
    {
        "id": "sd_RPawcl3sEzQynRMA",
        "type": "PageVariables",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "electricForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "bal",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "message",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_RPawcl3sEzQynRMA",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_Ypckas6FBahls4ox"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_DEKJM31bAxWyDYzd",
        "type": "Storage",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "electricBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_DEKJM31bAxWyDYzd",
        "category": "Storage",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_70nSj10BiaGC5l6z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_qPS2ENof2zGBzHSC",
        "type": "Script",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electricForm = {\n    amount: \"\",\n    to: page.selected.meterNumber,\n    belongsTo: page.user.accountNumber,\n    transDate: new Date(),\n    transType: 'Electricity',\n    benName: page.selected.benName,\n    moneyType: 'moneyOut',\n\n}\n\n// console.log(\"balance ==>\" ,page.user)\nconsole.log(page.user)\npage.user = page.res.find(user => page.user.accountNumber == user.accountNumber)\nconsole.log(\"user ==>\" ,page.user)\n",
        "functionName": "sd_qPS2ENof2zGBzHSC",
        "category": "Function",
        "x": 625,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_70nSj10BiaGC5l6z",
        "type": "Storage",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_70nSj10BiaGC5l6z",
        "category": "Storage",
        "x": 465,
        "y": 60,
        "wires": [
            [
                "sd_qDYMyCcxde1rQisC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_tnr87i7sU5qGDib3",
        "type": "PageStart",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buyElectric",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyElectric",
        "category": "General",
        "x": 50,
        "y": 330,
        "wires": [
            [
                "sd_sxOBl0AtYhmgk6mN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "eleComponent"
    },
    {
        "id": "sd_sxOBl0AtYhmgk6mN",
        "type": "Script",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\nif(page.user['available_balance']) {\n    page.bal = page.user['available_balance']\n}else {\n   page.bal = page.user['available_balance']\n}\nconsole.log(typeof page.bal)\nconsole.log(typeof page.electricForm.amount)",
        "functionName": "sd_sxOBl0AtYhmgk6mN",
        "category": "Function",
        "x": 130,
        "y": 330,
        "wires": [
            [
                "sd_HD6foY1u8TCHdcnM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_HD6foY1u8TCHdcnM",
        "type": "PageSwitch",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.valid",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_HD6foY1u8TCHdcnM",
        "category": "Function",
        "x": 210,
        "y": 330,
        "wires": [
            [
                "sd_sQgOOel4slHYkaZb"
            ],
            [
                "sd_idUGsFe7vL7ZiTaQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_idUGsFe7vL7ZiTaQ",
        "type": "SnackBar",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INVALID FIELDS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_idUGsFe7vL7ZiTaQ",
        "category": "General",
        "x": 330,
        "y": 370,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_sQgOOel4slHYkaZb",
        "type": "Environment",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_sQgOOel4slHYkaZb",
        "category": "General",
        "x": 410,
        "y": 290,
        "wires": [
            [
                "sd_qk0uDfeytHrhDCxl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_Zjl8aFu13LJgM18S",
        "type": "Script",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"buy-electricity\"\nbh.update = page.ssdUrl + \"update\"\nbh.newUser = page.ssdUrl + \"find-one-user\"\nbh.difference = page.user['available_balance'] - page.electricForm.amount\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\nbh.body = {\n    email: page.user.email,\n    available_balance: bh.difference\n}\n\nbh.date = page.electricForm.transDate.toDateString()\nbh.date = bh.date.split(' ')\nbh.date = `${bh.date[1]} ${bh.date[2]} ${bh.date[3]}`\n\npage.message = `Capitec: Payment -R${page.electricForm.amount} from Savings Ref; ${page.electricForm.transType}. Avail R${page.user['available balance'] ? page.user['available balance'] : page.user['available_balance']}; ${bh.date}.info: 082 123 1234`\npage.message = {\n    message: page.message,\n    read: false,\n    _type: 'payment',\n    belongsTo: page.electricForm.belongsTo\n}\n\nconsole.log(page.message)\n\n",
        "functionName": "sd_Zjl8aFu13LJgM18S",
        "category": "Function",
        "x": 585,
        "y": 240,
        "wires": [
            [
                "sd_uCiycIzJ79O6k0qN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_pNDNsVw1uKOuTZyA",
        "type": "HttpRequest",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy electricity",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.electricForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyElectricity",
        "category": "HTTP",
        "x": 885,
        "y": 240,
        "wires": [
            [
                "sd_NwsIJfNo26nwwwU4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_qk0uDfeytHrhDCxl",
        "type": "PageSwitch",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "bal",
        "propertyType": "this.page",
        "propertyGv": "this.page.bal",
        "rules": [
            {
                "t": "gte",
                "v": "electricForm.amount",
                "vt": "this.page",
                "gv": "this.page.electricForm.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_qk0uDfeytHrhDCxl",
        "category": "Function",
        "x": 505,
        "y": 290,
        "wires": [
            [
                "sd_Zjl8aFu13LJgM18S"
            ],
            [
                "sd_fv7jO6zLohdWjKpz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_fv7jO6zLohdWjKpz",
        "type": "SnackBar",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ELECTRICITY AMOUNT CAN'T BE MORE THAN CURRENT BALANCE"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_fv7jO6zLohdWjKpz",
        "category": "General",
        "x": 590,
        "y": 370,
        "wires": [
            [
                "sd_YaWxql2wWodOZKT2",
                "sd_HQyu3iYXMDoOpTv9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_1PWEO0zol8akitPv",
        "type": "HttpRequest",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update balance",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.updateResults",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updateResults"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateBalance",
        "category": "HTTP",
        "x": 785,
        "y": 240,
        "wires": [
            [
                "sd_pNDNsVw1uKOuTZyA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_2hf16kLp6PKzH5bb",
        "type": "Script",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.newBalance = page.updatedUser.filter((user:any) =>{\n    return user.belongsTo == page.user.accountNumber\n})\n\nbh.Results = bh.newBalance[0]\n\npage.routeData = {routeData: JSON.stringify(page.electricForm), _type: \"ele\"}\n",
        "functionName": "sd_2hf16kLp6PKzH5bb",
        "category": "Function",
        "x": 1045,
        "y": 240,
        "wires": [
            [
                "sd_ESOK0J7zRg0sTlYY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_NwsIJfNo26nwwwU4",
        "type": "HttpRequest",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.newUser",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "newUser"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "this.page.updatedUser",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedUser"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateUser",
        "category": "HTTP",
        "x": 965,
        "y": 240,
        "wires": [
            [
                "sd_2hf16kLp6PKzH5bb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_ESOK0J7zRg0sTlYY",
        "type": "Storage",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "Results"
        },
        "resultMapping": {},
        "functionName": "sd_ESOK0J7zRg0sTlYY",
        "category": "Storage",
        "x": 1125,
        "y": 240,
        "wires": [
            [
                "sd_rsiNwe2paQu9Zglr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_YaWxql2wWodOZKT2",
        "type": "Log",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.bal",
        "functionName": "sd_YaWxql2wWodOZKT2",
        "category": "General",
        "x": 705,
        "y": 350,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "bal",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_HQyu3iYXMDoOpTv9",
        "type": "Log",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.electricForm.amount",
        "functionName": "sd_HQyu3iYXMDoOpTv9",
        "category": "General",
        "x": 710,
        "y": 450,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "electricForm.amount",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_rsiNwe2paQu9Zglr",
        "type": "Navigation",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_rsiNwe2paQu9Zglr",
        "category": "Navigation",
        "x": 1225,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_Ypckas6FBahls4ox",
        "type": "Environment",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Ypckas6FBahls4ox",
        "category": "General",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_OPniTi0PYFf4XAOT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_OPniTi0PYFf4XAOT",
        "type": "Script",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'get-customers'\n",
        "functionName": "sd_OPniTi0PYFf4XAOT",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_DEKJM31bAxWyDYzd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_qDYMyCcxde1rQisC",
        "type": "HttpRequest",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_qDYMyCcxde1rQisC",
        "category": "HTTP",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_qPS2ENof2zGBzHSC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_NIZ8zwFrjb4BY8vH",
        "type": "PageStart",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 65,
        "y": 560,
        "wires": [
            [
                "sd_AyMc23F67a8WKcop"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "eleComponent"
    },
    {
        "id": "sd_AyMc23F67a8WKcop",
        "type": "PageCallService",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_AyMc23F67a8WKcop",
        "category": "General",
        "x": 205,
        "y": 560,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    },
    {
        "id": "sd_uCiycIzJ79O6k0qN",
        "type": "PageCallService",
        "z": "sd_zpKRNUPOQbwYIsa8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_zfYNdk36d9C7KQzH",
            "flowName": "addTransMessage"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "message"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "addTransMessage",
        "inputParams": [
            "this.page.message"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_uCiycIzJ79O6k0qN",
        "category": "General",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "sd_1PWEO0zol8akitPv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "eleComponent",
        "generated": true
    }
]
