designs/pages/transact/electricity.json
[
    {
        "id": "sd_oJk8mXNFSsJmDo7c",
        "type": "tab",
        "createdDate": "2024-05-24T08:57:16.976Z",
        "label": "electricity",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_44luXrwEedWKmlZa",
        "type": "OnInit",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_44luXrwEedWKmlZa",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_SbnBYPpa7dvwXNPJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_SbnBYPpa7dvwXNPJ",
        "type": "PageVariables",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "electricForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "bal",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_SbnBYPpa7dvwXNPJ",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_hweFYTvJJXNq5mHr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_hweFYTvJJXNq5mHr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "electricBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_hweFYTvJJXNq5mHr",
        "category": "Storage",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_qCO83jtz9eb6WJVr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_5J3EDkMgd2lTTFEO",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electricForm = {\n    amount: \"\",\n    to: page.selected.meterNumber,\n    accountNumber: page.user.accountNumber,\n    transDate: new Date(),\n    transType: 'Electricity',\n    statement: page.selected.benName,\n    moneyType: 'moneyOut'\n\n}\n\nconsole.log(\"balance ==>\" ,page.user)",
        "functionName": "sd_5J3EDkMgd2lTTFEO",
        "category": "Function",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_qCO83jtz9eb6WJVr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_qCO83jtz9eb6WJVr",
        "category": "Storage",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "sd_5J3EDkMgd2lTTFEO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_uZdlgQR4xtJxd4EU",
        "type": "PageStart",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buyElectric",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyElectric",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_FuzyXNH9LTTGC7dG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_FuzyXNH9LTTGC7dG",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\nif(page.user['available_balance']) {\n    page.bal = page.user['available_balance']\n}else {\n   page.bal = page.user['available_balance']\n}\nconsole.log(page.bal)",
        "functionName": "sd_FuzyXNH9LTTGC7dG",
        "category": "Function",
        "x": 145,
        "y": 220,
        "wires": [
            [
                "sd_iaMtfeNXp1gpNgC9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_iaMtfeNXp1gpNgC9",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.valid",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iaMtfeNXp1gpNgC9",
        "category": "Function",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_HIlYHUampiXE8ans"
            ],
            [
                "sd_zMcN8BNi0mEkTsqY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_zMcN8BNi0mEkTsqY",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INVALID FIELDS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zMcN8BNi0mEkTsqY",
        "category": "General",
        "x": 345,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_HIlYHUampiXE8ans",
        "type": "Environment",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HIlYHUampiXE8ans",
        "category": "General",
        "x": 425,
        "y": 180,
        "wires": [
            [
                "sd_U0jjBA6AiXqsy9OB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_VohmGIvVnZNRBSTZ",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"buy-electricity\"\nbh.update = page.ssdUrl + \"update\"\nbh.newUser = page.ssdUrl + \"find-one-user\"\nbh.difference = page.user['available_balance'] - page.electricForm.amount\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\nbh.body = {\n    email: page.user.email,\n    available_balance: bh.difference\n}\n\nbh.date = page.electricForm.transDate.toDateString()\nbh.date = bh.date.split(' ')\nbh.date = `${bh.date[1]} ${bh.date[2]} ${bh.date[3]}`\n\npage.message = `Capitec: Payment -R${page.electricForm.amount} from Savings Ref; ${page.electricForm.transType}. Avail R${page.user['available balance'] ? page.user['available balance'] : page.user['available_balance']}; ${bh.date}.info: 082 123 1234`\npage.message = {\n    message: page.message,\n    read: false,\n    _type: 'payment',\n    belongsTo: page.payBen.belongsTo\n}\n\nconsole.log(page.message)\n\n",
        "functionName": "sd_VohmGIvVnZNRBSTZ",
        "category": "Function",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_1WOy1ibDBKidrjqg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_SXyTdD9ZOC4D8ljs",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy electricity",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.electricForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyElectricity",
        "category": "HTTP",
        "x": 825,
        "y": 120,
        "wires": [
            [
                "sd_m4Io6zqV6w5A8vFJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_U0jjBA6AiXqsy9OB",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "bal",
        "propertyType": "bh",
        "propertyGv": "bh.bal",
        "rules": [
            {
                "t": "gte",
                "v": "electricForm.amount",
                "vt": "this.page",
                "gv": "this.page.electricForm.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_U0jjBA6AiXqsy9OB",
        "category": "Function",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "sd_VohmGIvVnZNRBSTZ"
            ],
            [
                "sd_auGbNQhue6q4F1zT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_auGbNQhue6q4F1zT",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ELECTRICITY AMOUNT CAN'T BE MORE THAN CURRENT BALANCE"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_auGbNQhue6q4F1zT",
        "category": "General",
        "x": 605,
        "y": 260,
        "wires": [
            [
                "sd_hjP7T9rj2TDrFZXp",
                "sd_K26tCVBewO0a92ol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_1WOy1ibDBKidrjqg",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update balance",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.updateResults",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updateResults"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateBalance",
        "category": "HTTP",
        "x": 725,
        "y": 120,
        "wires": [
            [
                "sd_SXyTdD9ZOC4D8ljs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_YUnrPkZOIelOiR2F",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.newBalance = page.updatedUser.filter((user:any) =>{\n    return user.belongsTo == page.user.accountNumber\n})\n\nbh.Results = bh.newBalance[0]\n\npage.routeData = {routeData: JSON.stringify(page.routeData)}\n",
        "functionName": "sd_YUnrPkZOIelOiR2F",
        "category": "Function",
        "x": 1005,
        "y": 120,
        "wires": [
            [
                "sd_kZwtsxScyuwDo0LR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_m4Io6zqV6w5A8vFJ",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.newUser",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "newUser"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "this.page.updatedUser",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedUser"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateUser",
        "category": "HTTP",
        "x": 925,
        "y": 120,
        "wires": [
            [
                "sd_YUnrPkZOIelOiR2F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_kZwtsxScyuwDo0LR",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "Results"
        },
        "resultMapping": {},
        "functionName": "sd_kZwtsxScyuwDo0LR",
        "category": "Storage",
        "x": 1125,
        "y": 120,
        "wires": [
            [
                "sd_9b9Einc3AjLeOByW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_9b9Einc3AjLeOByW",
        "type": "Navigation",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_9b9Einc3AjLeOByW",
        "category": "Navigation",
        "x": 1305,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_SbnBYPpa7dvwXNPJ",
        "type": "PageVariables",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "electricForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_SbnBYPpa7dvwXNPJ",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_hweFYTvJJXNq5mHr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_hweFYTvJJXNq5mHr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "electricBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_hweFYTvJJXNq5mHr",
        "category": "Storage",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_qCO83jtz9eb6WJVr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_5J3EDkMgd2lTTFEO",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electricForm = {\n    amount: \"\",\n    to: page.selected.meterNumber,\n    belongsTo: page.user.accountNumber,\n    transDate: new Date(),\n    transType: 'Electricity'\n}\n\nconsole.log(\"balance ==>\" ,page.user.available_balance)",
        "functionName": "sd_5J3EDkMgd2lTTFEO",
        "category": "Function",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_qCO83jtz9eb6WJVr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_qCO83jtz9eb6WJVr",
        "category": "Storage",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "sd_5J3EDkMgd2lTTFEO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_uZdlgQR4xtJxd4EU",
        "type": "PageStart",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buyElectric",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyElectric",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_FuzyXNH9LTTGC7dG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_FuzyXNH9LTTGC7dG",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_FuzyXNH9LTTGC7dG",
        "category": "Function",
        "x": 145,
        "y": 220,
        "wires": [
            [
                "sd_iaMtfeNXp1gpNgC9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_iaMtfeNXp1gpNgC9",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.valid",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iaMtfeNXp1gpNgC9",
        "category": "Function",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_HIlYHUampiXE8ans"
            ],
            [
                "sd_zMcN8BNi0mEkTsqY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_zMcN8BNi0mEkTsqY",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INVALID FIELDS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zMcN8BNi0mEkTsqY",
        "category": "General",
        "x": 345,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_HIlYHUampiXE8ans",
        "type": "Environment",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HIlYHUampiXE8ans",
        "category": "General",
        "x": 425,
        "y": 180,
        "wires": [
            [
                "sd_U0jjBA6AiXqsy9OB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_VohmGIvVnZNRBSTZ",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"buy-electricity\"\nbh.update = page.ssdUrl + \"update\"\nbh.newUser = page.ssdUrl + \"find-one-user\"\nbh.difference = page.user['available balance'] - page.electricForm.amount\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\nbh.body = {\n    email: page.user.email,\n    available_balance: bh.difference\n}\n\n",
        "functionName": "sd_VohmGIvVnZNRBSTZ",
        "category": "Function",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_1WOy1ibDBKidrjqg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_SXyTdD9ZOC4D8ljs",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy electricity",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.electricForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyElectricity",
        "category": "HTTP",
        "x": 765,
        "y": 120,
        "wires": [
            [
                "sd_m4Io6zqV6w5A8vFJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_U0jjBA6AiXqsy9OB",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user['available balance']",
        "propertyType": "this.page",
        "propertyGv": "this.page.user['available balance']",
        "rules": [
            {
                "t": "gte",
                "v": "electricForm.amount",
                "vt": "this.page",
                "gv": "this.page.electricForm.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_U0jjBA6AiXqsy9OB",
        "category": "Function",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "sd_VohmGIvVnZNRBSTZ"
            ],
            [
                "sd_auGbNQhue6q4F1zT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_auGbNQhue6q4F1zT",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ELECTRICITY AMOUNT CAN'T BE MORE THAN CURRENT BALANCE"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_auGbNQhue6q4F1zT",
        "category": "General",
        "x": 605,
        "y": 260,
        "wires": [
            [
                "sd_hjP7T9rj2TDrFZXp",
                "sd_K26tCVBewO0a92ol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_1WOy1ibDBKidrjqg",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update balance",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.updateResults",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updateResults"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateBalance",
        "category": "HTTP",
        "x": 685,
        "y": 120,
        "wires": [
            [
                "sd_SXyTdD9ZOC4D8ljs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_YUnrPkZOIelOiR2F",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.newBalance = page.updatedUser.filter((user:any) =>{\n    return user.belongsTo == page.user.accountNumber\n})\n\nbh.Results = bh.newBalance[0]\n",
        "functionName": "sd_YUnrPkZOIelOiR2F",
        "category": "Function",
        "x": 925,
        "y": 120,
        "wires": [
            [
                "sd_kZwtsxScyuwDo0LR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_m4Io6zqV6w5A8vFJ",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.newUser",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "newUser"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "this.page.updatedUser",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedUser"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateUser",
        "category": "HTTP",
        "x": 845,
        "y": 120,
        "wires": [
            [
                "sd_YUnrPkZOIelOiR2F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_kZwtsxScyuwDo0LR",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "Results"
        },
        "resultMapping": {},
        "functionName": "sd_kZwtsxScyuwDo0LR",
        "category": "Storage",
        "x": 1005,
        "y": 120,
        "wires": [
            [
                "sd_9b9Einc3AjLeOByW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_9b9Einc3AjLeOByW",
        "type": "Navigation",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_9b9Einc3AjLeOByW",
        "category": "Navigation",
        "x": 1220,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_SbnBYPpa7dvwXNPJ",
        "type": "PageVariables",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "electricForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_SbnBYPpa7dvwXNPJ",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_hweFYTvJJXNq5mHr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_hweFYTvJJXNq5mHr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "electricBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_hweFYTvJJXNq5mHr",
        "category": "Storage",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_qCO83jtz9eb6WJVr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_5J3EDkMgd2lTTFEO",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electricForm = {\n    amount: \"\",\n    to: page.selected.meterNumber,\n    belongsTo: page.user.accountNumber,\n    transDate: new Date(),\n    transType: 'Electricity'\n}",
        "functionName": "sd_5J3EDkMgd2lTTFEO",
        "category": "Function",
        "x": 490,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_qCO83jtz9eb6WJVr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_qCO83jtz9eb6WJVr",
        "category": "Storage",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "sd_5J3EDkMgd2lTTFEO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_uZdlgQR4xtJxd4EU",
        "type": "PageStart",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buyElectric",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyElectric",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_FuzyXNH9LTTGC7dG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_FuzyXNH9LTTGC7dG",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_FuzyXNH9LTTGC7dG",
        "category": "Function",
        "x": 145,
        "y": 220,
        "wires": [
            [
                "sd_iaMtfeNXp1gpNgC9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_iaMtfeNXp1gpNgC9",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.valid",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iaMtfeNXp1gpNgC9",
        "category": "Function",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_HIlYHUampiXE8ans"
            ],
            [
                "sd_zMcN8BNi0mEkTsqY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_zMcN8BNi0mEkTsqY",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INVALID FIELDS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zMcN8BNi0mEkTsqY",
        "category": "General",
        "x": 345,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_HIlYHUampiXE8ans",
        "type": "Environment",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HIlYHUampiXE8ans",
        "category": "General",
        "x": 425,
        "y": 180,
        "wires": [
            [
                "sd_U0jjBA6AiXqsy9OB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_VohmGIvVnZNRBSTZ",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"buy-electricity\"\nbh.update = page.ssdUrl + \"update\"\nbh.newUser = page.ssdUrl + \"find-one-user\"\nbh.difference = page.user.available_balance - page.electricForm.amount\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\nbh.body = {\n    email: page.user.email,\n    available_balance: bh.difference\n}\n\n",
        "functionName": "sd_VohmGIvVnZNRBSTZ",
        "category": "Function",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_1WOy1ibDBKidrjqg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_SXyTdD9ZOC4D8ljs",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy electricity",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.electricForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyElectricity",
        "category": "HTTP",
        "x": 765,
        "y": 120,
        "wires": [
            [
                "sd_m4Io6zqV6w5A8vFJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_U0jjBA6AiXqsy9OB",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.available_balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.available_balance",
        "rules": [
            {
                "t": "gte",
                "v": "electricForm.amount",
                "vt": "this.page",
                "gv": "this.page.electricForm.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_U0jjBA6AiXqsy9OB",
        "category": "Function",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "sd_VohmGIvVnZNRBSTZ"
            ],
            [
                "sd_auGbNQhue6q4F1zT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_auGbNQhue6q4F1zT",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ELECTRICITY AMOUNT CAN'T BE MORE THAN CURRENT BALANCE"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_auGbNQhue6q4F1zT",
        "category": "General",
        "x": 605,
        "y": 260,
        "wires": [
            [
                "sd_hjP7T9rj2TDrFZXp",
                "sd_K26tCVBewO0a92ol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_1WOy1ibDBKidrjqg",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update balance",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.updateResults",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updateResults"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateBalance",
        "category": "HTTP",
        "x": 685,
        "y": 120,
        "wires": [
            [
                "sd_SXyTdD9ZOC4D8ljs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_YUnrPkZOIelOiR2F",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.newBalance = page.updatedUser.filter((user:any) =>{\n    return user.accountNumber == page.user.accountNumber\n})\n\nbh.Results = bh.newBalance[0]\n",
        "functionName": "sd_YUnrPkZOIelOiR2F",
        "category": "Function",
        "x": 925,
        "y": 120,
        "wires": [
            [
                "sd_kZwtsxScyuwDo0LR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_m4Io6zqV6w5A8vFJ",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.newUser",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "newUser"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "this.page.updatedUser",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "updatedUser"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateUser",
        "category": "HTTP",
        "x": 845,
        "y": 120,
        "wires": [
            [
                "sd_YUnrPkZOIelOiR2F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_kZwtsxScyuwDo0LR",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "Results"
        },
        "resultMapping": {},
        "functionName": "sd_kZwtsxScyuwDo0LR",
        "category": "Storage",
        "x": 1005,
        "y": 120,
        "wires": [
            [
                "sd_9b9Einc3AjLeOByW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_hjP7T9rj2TDrFZXp",
        "type": "Log",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.bal",
        "functionName": "sd_hjP7T9rj2TDrFZXp",
        "category": "General",
        "x": 720,
        "y": 240,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "bal",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_K26tCVBewO0a92ol",
        "type": "Log",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.electricForm.amount",
        "functionName": "sd_K26tCVBewO0a92ol",
        "category": "General",
        "x": 725,
        "y": 340,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "electricForm.amount",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    }
]
