designs/pages/transact/electricity.json
[
    {
        "id": "sd_oJk8mXNFSsJmDo7c",
        "type": "tab",
        "createdDate": "2024-05-24T08:57:16.976Z",
        "label": "electricity",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_44luXrwEedWKmlZa",
        "type": "OnInit",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_44luXrwEedWKmlZa",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_SbnBYPpa7dvwXNPJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_SbnBYPpa7dvwXNPJ",
        "type": "PageVariables",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "selected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "electricForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_SbnBYPpa7dvwXNPJ",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_hweFYTvJJXNq5mHr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_hweFYTvJJXNq5mHr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "electricBen"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "selected"
        },
        "functionName": "sd_hweFYTvJJXNq5mHr",
        "category": "Storage",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "sd_gTbj6KEGlIvwhFvA",
                "sd_qCO83jtz9eb6WJVr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_gTbj6KEGlIvwhFvA",
        "type": "Log",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.selected",
        "functionName": "sd_gTbj6KEGlIvwhFvA",
        "category": "General",
        "x": 440,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "selected",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_5J3EDkMgd2lTTFEO",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.electricForm = {\n    amount: \"\",\n    to: page.selected.meterNumber,\n    from: page.user.accountNumber\n}",
        "functionName": "sd_5J3EDkMgd2lTTFEO",
        "category": "Function",
        "x": 565,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_qCO83jtz9eb6WJVr",
        "type": "Storage",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_qCO83jtz9eb6WJVr",
        "category": "Storage",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_5J3EDkMgd2lTTFEO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_uZdlgQR4xtJxd4EU",
        "type": "PageStart",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buyElectric",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buyElectric",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_FuzyXNH9LTTGC7dG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "electricityComponent"
    },
    {
        "id": "sd_FuzyXNH9LTTGC7dG",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_FuzyXNH9LTTGC7dG",
        "category": "Function",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "sd_iaMtfeNXp1gpNgC9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_iaMtfeNXp1gpNgC9",
        "type": "PageSwitch",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.valid",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_iaMtfeNXp1gpNgC9",
        "category": "Function",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "sd_53gK3JrPWt7xfjS8"
            ],
            [
                "sd_zMcN8BNi0mEkTsqY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_53gK3JrPWt7xfjS8",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Yes Girl"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_53gK3JrPWt7xfjS8",
        "category": "General",
        "x": 545,
        "y": 220,
        "wires": [
            [
                "sd_HIlYHUampiXE8ans"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_zMcN8BNi0mEkTsqY",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Wa gafa"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zMcN8BNi0mEkTsqY",
        "category": "General",
        "x": 525,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_HIlYHUampiXE8ans",
        "type": "Environment",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HIlYHUampiXE8ans",
        "category": "General",
        "x": 685,
        "y": 220,
        "wires": [
            [
                "sd_VohmGIvVnZNRBSTZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_VohmGIvVnZNRBSTZ",
        "type": "Script",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"buy-electricity\"\n\n",
        "functionName": "sd_VohmGIvVnZNRBSTZ",
        "category": "Function",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "sd_SXyTdD9ZOC4D8ljs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_SXyTdD9ZOC4D8ljs",
        "type": "HttpRequest",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.electricForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricForm"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_SXyTdD9ZOC4D8ljs",
        "category": "HTTP",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "sd_AYyH1xdjdWRd4Vis"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_AYyH1xdjdWRd4Vis",
        "type": "Navigation",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/buy-electricity/pay-ben-electric",
        "functionName": "sd_AYyH1xdjdWRd4Vis",
        "category": "Navigation",
        "x": 1025,
        "y": 220,
        "wires": [
            [
                "sd_4UJL3Q7xrHDyFXo1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    },
    {
        "id": "sd_4UJL3Q7xrHDyFXo1",
        "type": "SnackBar",
        "z": "sd_oJk8mXNFSsJmDo7c",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Electricity purchased successfully"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4UJL3Q7xrHDyFXo1",
        "category": "General",
        "x": 1160,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "electricityComponent",
        "generated": true
    }
]
