designs/pages/transact/pay_user.json
[
    {
        "id": "sd_iGYC18xF0nZ6kQyQ",
        "type": "tab",
        "createdDate": "2024-05-22T13:25:08.403Z",
        "label": "pay_user",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "pay_userComponent"
    },
    {
        "id": "sd_ALDaNOXxkNjfA91l",
        "type": "OnInit",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ALDaNOXxkNjfA91l",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 80,
        "wires": [
            [
                "sd_6osKV4KRTsH0Agg3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_userComponent"
    },
    {
        "id": "sd_OKwdCJYrfyWRgvA7",
        "type": "PageVariables",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "ben",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            },
            {
                "textIp": "userInitials",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "payBen",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_OKwdCJYrfyWRgvA7",
        "category": "Function",
        "x": 205,
        "y": 80,
        "wires": [
            [
                "sd_CbCTCOV3O1UM5x2j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_CbCTCOV3O1UM5x2j",
        "type": "NavigationData",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "tmpOp": "",
        "tmpOpType": "",
        "operationType": "queryParams",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "this.page.routeData",
        "functionName": "sd_CbCTCOV3O1UM5x2j",
        "category": "Navigation",
        "x": 305,
        "y": 80,
        "wires": [
            [
                "sd_ywZo8242QsO12AYj"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "routeData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_ywZo8242QsO12AYj",
        "type": "Script",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.routeData = JSON.parse(page.routeData.routeData)\n\n\nconsole.log(page.routeData)",
        "functionName": "sd_ywZo8242QsO12AYj",
        "category": "Function",
        "x": 385,
        "y": 80,
        "wires": [
            [
                "sd_V7AX2BRuCDIKb4po"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_V7AX2BRuCDIKb4po",
        "type": "Storage",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_V7AX2BRuCDIKb4po",
        "category": "Storage",
        "x": 465,
        "y": 80,
        "wires": [
            [
                "sd_7fJfR7xvigVTc3aS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_6osKV4KRTsH0Agg3",
        "type": "Environment",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_6osKV4KRTsH0Agg3",
        "category": "General",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "sd_OKwdCJYrfyWRgvA7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_7fJfR7xvigVTc3aS",
        "type": "PageCallService",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_GHNnLx5QMLnF7xNy",
            "flowName": "getCustomers"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "customers",
                "valueType": "bh",
                "value": "customers",
                "mapVarName": "customers",
                "localVar": "bh.customers"
            }
        ],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "getCustomers",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_7fJfR7xvigVTc3aS",
        "category": "General",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "sd_OxBOEpd1QeA4Gj9w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_OxBOEpd1QeA4Gj9w",
        "type": "Script",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.ben = bh.customers.find((cus: any) => cus.contacts == page.routeData.benNumber)\n\n// Ben initials\npage.benInitials = `${page.ben.fullName.split(' ')[0][0]} ${page.ben.fullName.split(' ')[page.ben.fullName.split(' ').length -1]}`\nbh.benInitials = `${page.ben.fullName.split(' ')[0][0]} ${page.ben.fullName.split(' ')[page.ben.fullName.split(' ').length -1]}`\nconsole.log(page.ben)\nconsole.log(bh.benInitials)\n\n// User Inintials\npage.userInitials = `${page.user.fullName.split(' ')[0][0]} ${page.user.fullName.split(' ')[page.user.fullName.split(' ').length -1]}`\n\n\npage.payBen = {amount: '', paymentType: '', benRef: page.userInitials, statement: page.routeData.benName, transDate: new Date(), moneyType: 'moneyOut', transType: 'Digital Payment'}\n\n\npage.available_balance = Math.round(page.user['available balance'] * 100) / 100\n\nconsole.log(page.available_balance)",
        "functionName": "sd_OxBOEpd1QeA4Gj9w",
        "category": "Function",
        "x": 665,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_0QzAQMQjTp1C0EK7",
        "type": "PageStart",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "pay",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "pay",
        "category": "General",
        "x": 45,
        "y": 260,
        "wires": [
            [
                "sd_4fDLnHQZIgXLTS7J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "pay_userComponent"
    },
    {
        "id": "sd_4fDLnHQZIgXLTS7J",
        "type": "Script",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_4fDLnHQZIgXLTS7J",
        "category": "Function",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "sd_ICO37wevYxw0tp87"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_ICO37wevYxw0tp87",
        "type": "PageSwitch",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ICO37wevYxw0tp87",
        "category": "Function",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "sd_oCSE1xDw0kw75STp"
            ],
            [
                "sd_dG520SOVEstSWTi0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_oCSE1xDw0kw75STp",
        "type": "Script",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.balance = page.user['available balance']\nbh.amount = Number(page.payBen.amount)\nconsole.log(typeof bh.amount)",
        "functionName": "sd_oCSE1xDw0kw75STp",
        "category": "Function",
        "x": 365,
        "y": 220,
        "wires": [
            [
                "sd_n8kdlSinOYLmhTW5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_dG520SOVEstSWTi0",
        "type": "SnackBar",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All required field should be filled"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_dG520SOVEstSWTi0",
        "category": "General",
        "x": 365,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_n8kdlSinOYLmhTW5",
        "type": "PageSwitch",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "amount",
        "propertyType": "bh",
        "propertyGv": "bh.amount",
        "rules": [
            {
                "t": "lte",
                "v": "balance",
                "vt": "bh",
                "gv": "bh.balance"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_n8kdlSinOYLmhTW5",
        "category": "Function",
        "x": 465,
        "y": 220,
        "wires": [
            [
                "sd_ixm6rE3WTUbtW0hD"
            ],
            [
                "sd_pOQZLnOArFJ2If7e"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_ixm6rE3WTUbtW0hD",
        "type": "Script",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user['available balance'] = bh.balance - bh.amount\npage.routeData = {routeData: JSON.stringify(page.routeData), _type: 'payment'}\n\nbh.url = page.ssdURL + 'pay-ben'",
        "functionName": "sd_ixm6rE3WTUbtW0hD",
        "category": "Function",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "sd_kfwazcU6m6nQlbym"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_kfwazcU6m6nQlbym",
        "type": "Storage",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "this.page",
            "value": "user"
        },
        "resultMapping": {},
        "functionName": "sd_kfwazcU6m6nQlbym",
        "category": "Storage",
        "x": 685,
        "y": 180,
        "wires": [
            [
                "sd_BKdzjdEhB7d9iC94"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_HrCtVmrSucrmYJy3",
        "type": "Navigation",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_HrCtVmrSucrmYJy3",
        "category": "Navigation",
        "x": 865,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_BKdzjdEhB7d9iC94",
        "type": "HttpRequest",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.payBen",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "payBen"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_BKdzjdEhB7d9iC94",
        "category": "HTTP",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "sd_HrCtVmrSucrmYJy3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    },
    {
        "id": "sd_pOQZLnOArFJ2If7e",
        "type": "SnackBar",
        "z": "sd_iGYC18xF0nZ6kQyQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "You can't buy above your balance"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_pOQZLnOArFJ2If7e",
        "category": "General",
        "x": 585,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "pay_userComponent",
        "generated": true
    }
]
