designs/pages/transact/transfer_money.json
[
    {
        "id": "sd_fcSYuUZ7W7jbO4T4",
        "type": "tab",
        "createdDate": "2024-05-07T18:39:41.920Z",
        "label": "transfer_money",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "transfer_moneyComponent"
    },
    {
        "id": "sd_9JJE1r6t5rU3CeIp",
        "type": "OnInit",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_9JJE1r6t5rU3CeIp",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_HVeLHK8Jw8RAoyMc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "transfer_moneyComponent"
    },
    {
        "id": "sd_HVeLHK8Jw8RAoyMc",
        "type": "PageVariables",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "transferForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "found",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "routeData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_HVeLHK8Jw8RAoyMc",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_3ITyf2wdKkIpAXR5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_GtGQJ09XVou8ScNK",
        "type": "Storage",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_GtGQJ09XVou8ScNK",
        "category": "Storage",
        "x": 300,
        "y": 40,
        "wires": [
            [
                "sd_1OTz7K2n2bDliLbt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_1OTz7K2n2bDliLbt",
        "type": "Script",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.transferForm = {\n    amount: 0,\n    description: \"\",\n    transDate: new Date(),\n    transType: \"Transfer Money\",\n    statement: 'Spaghetti',\n    benName: 'Spaghetti',\n    belongsTo: page.user.accountNumber, \n    moneyType: 'moneyOut'\n}\n\nconsole.log(page.user)\n\nbh.url = bh.ssdURL + 'get-customers'\nconsole.log(bh.url)",
        "functionName": "sd_1OTz7K2n2bDliLbt",
        "category": "Function",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "sd_JEWugeqffCgEhoZX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_oFn7om6tiYRaFEeB",
        "type": "PageStart",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "pages",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sd_oFn7om6tiYRaFEeB",
        "category": "General",
        "x": 45,
        "y": 240,
        "wires": [
            [
                "sd_BMV88bZZj1DeKUop"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "transfer_moneyComponent"
    },
    {
        "id": "sd_BMV88bZZj1DeKUop",
        "type": "Script",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\nif(page.user['available_balance']) {\n    bh.current =   page.user.available_balance -  page.transferForm.amount\n}else {\n    bh.current =   page.user['available balance'] -  page.transferForm.amount\n\n}\nbh.savings_new_balance = Number(page.user.savings_balance) + Number(page.transferForm.amount)\n\nbh.body = {\n   email: page.user.email,\n   available_balance : bh.current,\n   savings_balance : bh.savings_new_balance\n}\n",
        "functionName": "sd_BMV88bZZj1DeKUop",
        "category": "Function",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "sd_orK3dWItdBCRjg43"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_XFnvsIyNTTi09BGt",
        "type": "PageSwitch",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_XFnvsIyNTTi09BGt",
        "category": "Function",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "sd_8t6TIkQA3SVGWSxm"
            ],
            [
                "sd_mnY0kuA5XYtcaIX4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_orK3dWItdBCRjg43",
        "type": "Environment",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_orK3dWItdBCRjg43",
        "category": "General",
        "x": 225,
        "y": 240,
        "wires": [
            [
                "sd_XFnvsIyNTTi09BGt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_mnY0kuA5XYtcaIX4",
        "type": "SnackBar",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "FILL IN ALL FIELDS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_mnY0kuA5XYtcaIX4",
        "category": "General",
        "x": 410,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_mhQBu1ZVnbLTlm4V",
        "type": "Script",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"transfer-money\"\nbh.user = page.ssdURL + \"find-one-user\"\nbh.url_update = page.ssdURL + \"update\"\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\nbh.date = page.transferForm.transDate.toDateString()\nbh.date = bh.date.split(' ')\nbh.date = `${bh.date[1]} ${bh.date[2]} ${bh.date[3]}`\n\npage.message = `Capitec: Payment -R${page.transferForm.amount} from Savings Ref; ${page.transferForm.transType}. Avail R${page.user['available balance'] ? page.user['available balance'] : page.user['available_balance']}; ${bh.date}.info: 082 123 1234`\npage.message = {\n    message: page.message,\n    read: false,\n    _type: 'payment',\n    belongsTo: page.transferForm.belongsTo\n}\n\nconsole.log(page.message)\n\n",
        "functionName": "sd_mhQBu1ZVnbLTlm4V",
        "category": "Function",
        "x": 525,
        "y": 120,
        "wires": [
            [
                "sd_yBIQNrSfDdeGwe8T"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_hf2yfoHNlBFDBfvS",
        "type": "HttpRequest",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "post",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.transferForm",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "transferForm"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "post",
        "category": "HTTP",
        "x": 725,
        "y": 120,
        "wires": [
            [
                "sd_XhuQ6ZkLo4BJkIvh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_XhuQ6ZkLo4BJkIvh",
        "type": "HttpRequest",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "update",
        "category": "HTTP",
        "x": 805,
        "y": 120,
        "wires": [
            [
                "sd_sx4hSbRoAe6nripd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_sx4hSbRoAe6nripd",
        "type": "HttpRequest",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "GETT",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.user",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "user"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "bh.results_get",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results_get"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "gett",
        "category": "HTTP",
        "x": 885,
        "y": 120,
        "wires": [
            [
                "sd_mOQFojqKR0bBHB72"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_mOQFojqKR0bBHB72",
        "type": "Script",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.newBalance = bh.results_get.filter((user:any) =>{\n    return user.accountNumber == page.user.accountNumber\n})\n\npage.routeData = {routeData: JSON.stringify(page.transferForm), _type: 'transfer'}\n\n// page.routeData = JSON.stringify(bh.transfer)\n\nbh.newUser = bh.newBalance[0]",
        "functionName": "sd_mOQFojqKR0bBHB72",
        "category": "Function",
        "x": 965,
        "y": 120,
        "wires": [
            [
                "sd_EhCLbV6OexWFJtly"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_EhCLbV6OexWFJtly",
        "type": "Storage",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "newUser"
        },
        "resultMapping": {},
        "functionName": "sd_EhCLbV6OexWFJtly",
        "category": "Storage",
        "x": 1045,
        "y": 120,
        "wires": [
            [
                "sd_Q1krDBj37a4s2o1o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_Q1krDBj37a4s2o1o",
        "type": "Navigation",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/sucess",
        "qparamsMap": {
            "type": "this.page",
            "value": "routeData"
        },
        "resultMapping": {
            "type": "this.page",
            "value": "res"
        },
        "functionName": "sd_Q1krDBj37a4s2o1o",
        "category": "Navigation",
        "x": 1145,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_8t6TIkQA3SVGWSxm",
        "type": "PageSwitch",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.available_balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.available_balance",
        "rules": [
            {
                "t": "gte",
                "v": "transferForm.amount",
                "vt": "this.page",
                "gv": "this.page.transferForm.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_8t6TIkQA3SVGWSxm",
        "category": "Function",
        "x": 445,
        "y": 200,
        "wires": [
            [
                "sd_mhQBu1ZVnbLTlm4V"
            ],
            [
                "sd_yMXFdv6cFDxX2Zn7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_yMXFdv6cFDxX2Zn7",
        "type": "SnackBar",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "TRANSFER AMOUNT CAN'T BE MORE THAN CURRENT BALANCE"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yMXFdv6cFDxX2Zn7",
        "category": "General",
        "x": 505,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_EWqAqolyrOLHHIgU",
        "type": "SnackBar",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "TRANSFER SUCCESS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_EWqAqolyrOLHHIgU",
        "category": "General",
        "x": 1145,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "transfer_moneyComponent"
    },
    {
        "id": "sd_4W3fB0T1eijWqgR8",
        "type": "PageStart",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 65,
        "y": 460,
        "wires": [
            [
                "sd_aXjjTpVaMLbxnEL1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "transfer_moneyComponent"
    },
    {
        "id": "sd_aXjjTpVaMLbxnEL1",
        "type": "PageCallService",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_aXjjTpVaMLbxnEL1",
        "category": "General",
        "x": 205,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_3ITyf2wdKkIpAXR5",
        "type": "Environment",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_3ITyf2wdKkIpAXR5",
        "category": "General",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "sd_GtGQJ09XVou8ScNK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_JEWugeqffCgEhoZX",
        "type": "HttpRequest",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_JEWugeqffCgEhoZX",
        "category": "HTTP",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "sd_zWlnMfAO1K3yPVCR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_zWlnMfAO1K3yPVCR",
        "type": "Script",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = page.users.find(user => user.accountNumber == page.user.accountNumber)\nconsole.log('Logged in user: ', page.user)",
        "functionName": "sd_zWlnMfAO1K3yPVCR",
        "category": "Function",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    },
    {
        "id": "sd_yBIQNrSfDdeGwe8T",
        "type": "PageCallService",
        "z": "sd_fcSYuUZ7W7jbO4T4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_zfYNdk36d9C7KQzH",
            "flowName": "addTransMessage"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "message"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "addTransMessage",
        "inputParams": [
            "this.page.message"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_yBIQNrSfDdeGwe8T",
        "category": "General",
        "x": 625,
        "y": 120,
        "wires": [
            [
                "sd_hf2yfoHNlBFDBfvS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "transfer_moneyComponent",
        "generated": true
    }
]
