designs/pages/cards/physical/update_permanent_limits.json
[
    {
        "id": "sd_rLF456OWW1fgT21u",
        "type": "tab",
        "createdDate": "2024-05-15T12:11:46.094Z",
        "label": "update_permanent_limits",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_bfApQau7rm5BSggd",
        "type": "OnInit",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_bfApQau7rm5BSggd",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_McqC2bcbekB3X9qo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_McqC2bcbekB3X9qo",
        "type": "PageVariables",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "perm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_McqC2bcbekB3X9qo",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_eOQWbhnv1HXUlxyQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_9KZv2RncQO2OEjVt",
        "type": "PageStart",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "start",
        "name": "update-perm",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updatePerm",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_UoR3N2LOezVoGzZT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_UoR3N2LOezVoGzZT",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_UoR3N2LOezVoGzZT",
        "category": "Function",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_oUPQxZ4v5f7zDtxA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_oUPQxZ4v5f7zDtxA",
        "type": "PageSwitch",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_oUPQxZ4v5f7zDtxA",
        "category": "Function",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "sd_rpMjXzTczUyYzXm0"
            ],
            [
                "sd_wdTQmhnvrX0bNhwe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_wdTQmhnvrX0bNhwe",
        "type": "SnackBar",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "No Limits Set"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wdTQmhnvrX0bNhwe",
        "category": "General",
        "x": 415,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_rpMjXzTczUyYzXm0",
        "type": "SnackBar",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Ke yona"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_rpMjXzTczUyYzXm0",
        "category": "General",
        "x": 415,
        "y": 220,
        "wires": [
            [
                "sd_s4QRNu9yVPZAuHsK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_1k50Gxk7T11n99Y8",
        "type": "Environment",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_1k50Gxk7T11n99Y8",
        "category": "General",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "sd_7j7Wcpx8CSu9qsVu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_7j7Wcpx8CSu9qsVu",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"update\"\n\n\n",
        "functionName": "sd_7j7Wcpx8CSu9qsVu",
        "category": "Function",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "sd_L4sN7rUf0h2gM5aS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_L4sN7rUf0h2gM5aS",
        "type": "HttpRequest",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.user",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "user"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_L4sN7rUf0h2gM5aS",
        "category": "HTTP",
        "x": 830,
        "y": 227.1354217529297,
        "wires": [
            [
                "sd_8QlAMX8VeX4GeJHB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_gMbfVjlrqDYY9614",
        "type": "SnackBar",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Permanent limits successfully updated"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_gMbfVjlrqDYY9614",
        "category": "General",
        "x": 1065,
        "y": 220,
        "wires": [
            [
                "sd_8RWqVLz5KshcM2Bq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_8QlAMX8VeX4GeJHB",
        "type": "Storage",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "body"
        },
        "resultMapping": {},
        "functionName": "sd_8QlAMX8VeX4GeJHB",
        "category": "Storage",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "sd_gMbfVjlrqDYY9614"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_s4QRNu9yVPZAuHsK",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.user.cash_withdrawal_limit = page.perm.cash_withdrawals_perm\npage.user.card_purchases_limit = page.perm.card_machine_perm \npage.user.online_scan_to_pay_phone = page.perm.online_scan_perm\n\nconsole.log(page.user)",
        "functionName": "sd_s4QRNu9yVPZAuHsK",
        "category": "Function",
        "x": 525,
        "y": 200,
        "wires": [
            [
                "sd_1k50Gxk7T11n99Y8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_mitctppfkplUIjOk",
        "type": "Storage",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_mitctppfkplUIjOk",
        "category": "Storage",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_TERta0VjKJRaWevk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_TERta0VjKJRaWevk",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = bh.result\nconsole.log(page.user)",
        "functionName": "sd_TERta0VjKJRaWevk",
        "category": "Function",
        "x": 525,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_eOQWbhnv1HXUlxyQ",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = bh.result\nconsole.log(page.user)\n\npage.perm = {\n    cash_withdrawals_perm: \"\",\n    card_machine_perm:\"\",\n    online_scan_perm:\"\"\n}",
        "functionName": "sd_eOQWbhnv1HXUlxyQ",
        "category": "Function",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_mitctppfkplUIjOk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_8RWqVLz5KshcM2Bq",
        "type": "Storage",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "this.page",
            "value": "user"
        },
        "resultMapping": {},
        "functionName": "sd_8RWqVLz5KshcM2Bq",
        "category": "Storage",
        "x": 1205,
        "y": 220,
        "wires": [
            [
                "sd_IMDUZzue6kLKwj5O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_IMDUZzue6kLKwj5O",
        "type": "Navigation",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/logged_in_landing/home",
        "functionName": "sd_IMDUZzue6kLKwj5O",
        "category": "Navigation",
        "x": 1325,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    }
]
