designs/pages/cards/physical/update_permanent_limits.json
[
    {
        "id": "sd_rLF456OWW1fgT21u",
        "type": "tab",
        "createdDate": "2024-05-15T12:11:46.094Z",
        "label": "update_permanent_limits",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_bfApQau7rm5BSggd",
        "type": "OnInit",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_bfApQau7rm5BSggd",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_McqC2bcbekB3X9qo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_McqC2bcbekB3X9qo",
        "type": "PageVariables",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "user",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "perm",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "cash_limit",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "online_limit",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "card_limit",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_McqC2bcbekB3X9qo",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_oJLjMNgssetpTbjO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_9KZv2RncQO2OEjVt",
        "type": "PageStart",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "start",
        "name": "update-perm",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "updatePerm",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_UoR3N2LOezVoGzZT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_UoR3N2LOezVoGzZT",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true",
        "functionName": "sd_UoR3N2LOezVoGzZT",
        "category": "Function",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_oUPQxZ4v5f7zDtxA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_oUPQxZ4v5f7zDtxA",
        "type": "PageSwitch",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_oUPQxZ4v5f7zDtxA",
        "category": "Function",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "sd_9Nso4U7zi5Ru7vZr"
            ],
            [
                "sd_wdTQmhnvrX0bNhwe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_wdTQmhnvrX0bNhwe",
        "type": "SnackBar",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_wdTQmhnvrX0bNhwe",
        "category": "General",
        "x": 415,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_1k50Gxk7T11n99Y8",
        "type": "Environment",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_1k50Gxk7T11n99Y8",
        "category": "General",
        "x": 865,
        "y": 160,
        "wires": [
            [
                "sd_7j7Wcpx8CSu9qsVu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_7j7Wcpx8CSu9qsVu",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"update\"\n\n\n",
        "functionName": "sd_7j7Wcpx8CSu9qsVu",
        "category": "Function",
        "x": 965,
        "y": 160,
        "wires": [
            [
                "sd_L4sN7rUf0h2gM5aS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_L4sN7rUf0h2gM5aS",
        "type": "HttpRequest",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.user",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "user"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_L4sN7rUf0h2gM5aS",
        "category": "HTTP",
        "x": 1045,
        "y": 160,
        "wires": [
            [
                "sd_gMbfVjlrqDYY9614"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_gMbfVjlrqDYY9614",
        "type": "SnackBar",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Permanent limits successfully updated"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_gMbfVjlrqDYY9614",
        "category": "General",
        "x": 1125,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_mitctppfkplUIjOk",
        "type": "Storage",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "bh",
            "value": "result"
        },
        "functionName": "sd_mitctppfkplUIjOk",
        "category": "Storage",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_xgywkZQ26f37cTSm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_TERta0VjKJRaWevk",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('User ', bh.result)\npage.user = page.users.find(user => user.accountNumber === bh.result.accountNumber)\nconsole.log(page.user)\n\n\npage.perm = {\n    cash_withdrawals_perm: `R${page.user.cash_withdrawal_limit}`,\n    card_machine_perm: `R${page.user.card_purchases_limit}`,\n    online_scan_perm:`R${page.user.online_scan_to_pay_phone}`\n}",
        "functionName": "sd_TERta0VjKJRaWevk",
        "category": "Function",
        "x": 525,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_eOQWbhnv1HXUlxyQ",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'get-customers' \n\n",
        "functionName": "sd_eOQWbhnv1HXUlxyQ",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_mitctppfkplUIjOk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_IMDUZzue6kLKwj5O",
        "type": "Navigation",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/logged_in_landing/home",
        "functionName": "sd_IMDUZzue6kLKwj5O",
        "category": "Navigation",
        "x": 1325,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_oJLjMNgssetpTbjO",
        "type": "Environment",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_oJLjMNgssetpTbjO",
        "category": "General",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_eOQWbhnv1HXUlxyQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_xgywkZQ26f37cTSm",
        "type": "HttpRequest",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_xgywkZQ26f37cTSm",
        "category": "HTTP",
        "x": 445,
        "y": 40,
        "wires": [
            [
                "sd_TERta0VjKJRaWevk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_9Nso4U7zi5Ru7vZr",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.perm)\n\npage.user.cash_withdrawal_limit = Number(page.perm.cash_withdrawals_perm.substr(1))\npage.user.card_purchases_limit = Number(page.perm.card_machine_perm .substr(1))\npage.user.online_scan_to_pay_phone = Number(page.perm.online_scan_perm.substr(1))\n\n\n\nconsole.log(page.user)",
        "functionName": "sd_9Nso4U7zi5Ru7vZr",
        "category": "Function",
        "x": 405,
        "y": 220,
        "wires": [
            [
                "sd_I7fxJxLMm5UyNuaW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_I7fxJxLMm5UyNuaW",
        "type": "PageSwitch",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.cash_withdrawal_limit",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.cash_withdrawal_limit",
        "rules": [
            {
                "t": "lte",
                "v": "5000",
                "vt": "num",
                "gv": "5000"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_I7fxJxLMm5UyNuaW",
        "category": "Function",
        "x": 505,
        "y": 160,
        "wires": [
            [
                "sd_fa9dNXB26XlXIndg"
            ],
            [
                "sd_ngLXDhCTRUehT6Xz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_fa9dNXB26XlXIndg",
        "type": "PageSwitch",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.card_purchases_limit ",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.card_purchases_limit ",
        "rules": [
            {
                "t": "lte",
                "v": "50000",
                "vt": "num",
                "gv": "50000"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_fa9dNXB26XlXIndg",
        "category": "Function",
        "x": 605,
        "y": 160,
        "wires": [
            [
                "sd_SPysi8N9aIwqGO6V"
            ],
            [
                "sd_lUDVeCl2Gq5t8L2d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_SPysi8N9aIwqGO6V",
        "type": "PageSwitch",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.online_scan_to_pay_phone",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.online_scan_to_pay_phone",
        "rules": [
            {
                "t": "lte",
                "v": "50000",
                "vt": "num",
                "gv": "50000"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_SPysi8N9aIwqGO6V",
        "category": "Function",
        "x": 725,
        "y": 160,
        "wires": [
            [
                "sd_1k50Gxk7T11n99Y8"
            ],
            [
                "sd_slOnP62hTbCZeTet"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ngLXDhCTRUehT6Xz",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.cash_limit = true",
        "functionName": "sd_ngLXDhCTRUehT6Xz",
        "category": "Function",
        "x": 585,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_lUDVeCl2Gq5t8L2d",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.card_limit = true",
        "functionName": "sd_lUDVeCl2Gq5t8L2d",
        "category": "Function",
        "x": 685,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_slOnP62hTbCZeTet",
        "type": "Script",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.online_limit = true",
        "functionName": "sd_slOnP62hTbCZeTet",
        "category": "Function",
        "x": 805,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    },
    {
        "id": "sd_u1qnw1XLoFIzTeAR",
        "type": "PageStart",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 60,
        "y": 520,
        "wires": [
            [
                "sd_sdVWcxFBtJt69MNp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "update_permanent_limitsComponent"
    },
    {
        "id": "sd_sdVWcxFBtJt69MNp",
        "type": "PageCallService",
        "z": "sd_rLF456OWW1fgT21u",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_sdVWcxFBtJt69MNp",
        "category": "General",
        "x": 200,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "update_permanent_limitsComponent",
        "generated": true
    }
]
