designs/pages/auth/activate_app/confirm_changes.json
[
    {
        "id": "sd_O9xDIDyig0h0tTPd",
        "type": "tab",
        "createdDate": "2024-07-27T20:23:43.558Z",
        "label": "confirm_changes",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "confirm_changesComponent"
    },
    {
        "id": "sd_X43hHusUCSh5EbP7",
        "type": "OnInit",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_X43hHusUCSh5EbP7",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_des0FFu4NxtWjAAB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirm_changesComponent"
    },
    {
        "id": "sd_des0FFu4NxtWjAAB",
        "type": "PageVariables",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userInfor",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "userNewInfor",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_des0FFu4NxtWjAAB",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_ZBGg6bNeb7u39JfW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_mHhEhFhJltePZkEK",
        "type": "Script",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.userInfor = { confirmEmail: '' }\nconsole.log('New user:', page.user)\n\npage.userNewInfor = {email: '' }\n\npage.userNewInfor.email = page.user?.email ??  \"\"\n\nconsole.log('New user infor', page.userNewInfor)",
        "functionName": "sd_mHhEhFhJltePZkEK",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_ZBGg6bNeb7u39JfW",
        "type": "PageCallService",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_cC4wuVYpKaj5P3Di",
            "flowName": "getInfor"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "userInfor",
                "valueType": "this.page",
                "value": "user",
                "mapVarName": "userInfor",
                "localVar": "this.page.user"
            }
        ],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "getInfor",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ZBGg6bNeb7u39JfW",
        "category": "General",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_mHhEhFhJltePZkEK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_0McrJnllRvRetsza",
        "type": "PageStart",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_SVLKP95u2L0OVGae"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirm_changesComponent"
    },
    {
        "id": "sd_SVLKP95u2L0OVGae",
        "type": "Script",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\n",
        "functionName": "sd_SVLKP95u2L0OVGae",
        "category": "Function",
        "x": 165,
        "y": 200,
        "wires": [
            [
                "sd_4QrBukANe8g6ofL3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_4QrBukANe8g6ofL3",
        "type": "PageSwitch",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4QrBukANe8g6ofL3",
        "category": "Function",
        "x": 285,
        "y": 200,
        "wires": [
            [
                "sd_S52ewlgCKHXEjcgy"
            ],
            [
                "sd_DSXLckbHBWSHyC0F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_QrsYFOsROqJjxL94",
        "type": "Script",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Form: ', bh.input.form)",
        "functionName": "sd_QrsYFOsROqJjxL94",
        "category": "Function",
        "x": 605,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_DSXLckbHBWSHyC0F",
        "type": "SnackBar",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please enter confirm email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_DSXLckbHBWSHyC0F",
        "category": "General",
        "x": 405,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    },
    {
        "id": "sd_S52ewlgCKHXEjcgy",
        "type": "PageSwitch",
        "z": "sd_O9xDIDyig0h0tTPd",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.value.confirmEmail",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.value.confirmEmail",
        "rules": [
            {
                "t": "eq",
                "v": "userInfor.email",
                "vt": "this.page",
                "gv": "this.page.userInfor.email"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_S52ewlgCKHXEjcgy",
        "category": "Function",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_QrsYFOsROqJjxL94"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirm_changesComponent",
        "generated": true
    }
]
