designs/pages/auth/activate_app/email_address.json
[
    {
        "id": "sd_mIQbrWb6w3LDzc5P",
        "type": "tab",
        "createdDate": "2024-07-29T04:18:05.160Z",
        "label": "email_address",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "email_addressComponent"
    },
    {
        "id": "sd_jdrtFv0BL017qkbX",
        "type": "OnInit",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_jdrtFv0BL017qkbX",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_m35PA5ZgPCIx9jOd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_addressComponent"
    },
    {
        "id": "sd_m35PA5ZgPCIx9jOd",
        "type": "PageVariables",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "emails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "localStorage",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_m35PA5ZgPCIx9jOd",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_c1gppj4K16JqHoKF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_wJKA2oiPQJNQbXo9",
        "type": "Script",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.localStorage = page.user\n\npage.user = page.users.find(user => user.email == page.user.email)\n\npage.emails = {email: page.user.email, confirmEmail: page.user.email}\n\n\nconsole.log('User: ', page.localStorage)\n\npage.isEmailVerified = page.user.isEmailVerified",
        "functionName": "sd_wJKA2oiPQJNQbXo9",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_c1gppj4K16JqHoKF",
        "type": "Storage",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_c1gppj4K16JqHoKF",
        "category": "Storage",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_QYbpYiiBrMoiTYzx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_J73Ih0YGaVYCLKEP",
        "type": "PageStart",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 60,
        "y": 180,
        "wires": [
            [
                "sd_6FAab10u2XuGCd4L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_addressComponent"
    },
    {
        "id": "sd_6FAab10u2XuGCd4L",
        "type": "PageCallService",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_crCsmk2T9Wr8C9jG",
            "flowName": "backBtn"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "backBtn",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_6FAab10u2XuGCd4L",
        "category": "General",
        "x": 200,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_Wfgtj7xjaO7LtRzt",
        "type": "PageStart",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "start",
        "name": "verify",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "verify",
        "category": "General",
        "x": 45,
        "y": 320,
        "wires": [
            [
                "sd_9IVfv0NVL5lUwmQj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "email_addressComponent"
    },
    {
        "id": "sd_l2E7qkE3FwgxITh1",
        "type": "OpenDialog",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_kFnWQ7JIsWQlNXgG",
            "label": "confirm"
        },
        "relativePath": "app/components/PopUps/confirm",
        "data": "bh.msg",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "bh.input",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.res",
        "functionName": "sd_l2E7qkE3FwgxITh1",
        "category": "Dialog",
        "x": 885,
        "y": 320,
        "wires": [
            [],
            [
                "sd_iQjpCi4MV8snQcxH",
                "sd_7FwQBnbXkbDeMOHY"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "msg",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "bh.input",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_lzOZoV39wb5gnGet",
        "type": "Script",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.msg = {\n    _type: \"Verificatiion Sent\",\n    msg: \"A verification code has been sent to the supplied email address. Once received, please enter the code or tap cancel to enter it later.\",\n    placeholder: \"Enter code\",\n    verify: true\n}\n\nbh.code = Math.floor(Math.random() * 90000) + 10000\n\nbh.body = {\n    email: bh.input.form.value.email,\n    code: bh.code\n}\n\nbh.url = page.ssdURL + 'send-code'",
        "functionName": "sd_lzOZoV39wb5gnGet",
        "category": "Function",
        "x": 625,
        "y": 320,
        "wires": [
            [
                "sd_dcf4XlcxaLaRKVZ8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_6obITYeaj7vE6eil",
        "type": "PageCallService",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_Dk2rGgmA0oTjhqk1",
            "flowName": "setCode"
        },
        "inputVariables": [
            {
                "key": "code",
                "map": true,
                "valueType": "bh",
                "value": "code"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "setCode",
        "inputParams": [
            "bh.code"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_6obITYeaj7vE6eil",
        "category": "General",
        "x": 805,
        "y": 320,
        "wires": [
            [
                "sd_l2E7qkE3FwgxITh1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_4noCfEpBcFkthBlU",
        "type": "Environment",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_4noCfEpBcFkthBlU",
        "category": "General",
        "x": 485,
        "y": 320,
        "wires": [
            [
                "sd_lzOZoV39wb5gnGet"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_dcf4XlcxaLaRKVZ8",
        "type": "HttpRequest",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_dcf4XlcxaLaRKVZ8",
        "category": "HTTP",
        "x": 705,
        "y": 320,
        "wires": [
            [
                "sd_6obITYeaj7vE6eil",
                "sd_1Pk0wwjav60kYvRl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_1Pk0wwjav60kYvRl",
        "type": "Log",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.res",
        "functionName": "sd_1Pk0wwjav60kYvRl",
        "category": "General",
        "x": 805,
        "y": 420,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_iQjpCi4MV8snQcxH",
        "type": "SnackBar",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Email address was updated successfuly"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_iQjpCi4MV8snQcxH",
        "category": "General",
        "x": 985,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_7FwQBnbXkbDeMOHY",
        "type": "Script",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'update'\n\nconsole.log('User: ', page.localStorage)\n\npage.isEmailVerified = true\n\npage.user.isEmailVerified = page.isEmailVerified\npage.user.email = bh.input.form.value.email\n\npage.localStorage.email = bh.input.form.value.email\n\nconsole.log('Updatted User: ', page.user)",
        "functionName": "sd_7FwQBnbXkbDeMOHY",
        "category": "Function",
        "x": 985,
        "y": 320,
        "wires": [
            [
                "sd_m8ouTbMOYseKJPFd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_0x70Mjb84xODJM4r",
        "type": "HttpRequest",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.user",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "user"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_0x70Mjb84xODJM4r",
        "category": "HTTP",
        "x": 1165,
        "y": 320,
        "wires": [
            [
                "sd_vqrrs5HzwBlN3s6h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_vqrrs5HzwBlN3s6h",
        "type": "Log",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.res",
        "functionName": "sd_vqrrs5HzwBlN3s6h",
        "category": "General",
        "x": 1245,
        "y": 320,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_QYbpYiiBrMoiTYzx",
        "type": "PageCallService",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_GHNnLx5QMLnF7xNy",
            "flowName": "getCustomers"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "customers",
                "valueType": "this.page",
                "value": "users",
                "mapVarName": "customers",
                "localVar": "this.page.users"
            }
        ],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "getCustomers",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_QYbpYiiBrMoiTYzx",
        "category": "General",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_wJKA2oiPQJNQbXo9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_9IVfv0NVL5lUwmQj",
        "type": "PageSwitch",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9IVfv0NVL5lUwmQj",
        "category": "Function",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_mbMJJx88F7T7OmDk"
            ],
            [
                "sd_E7iw4eWWGeOBSf15"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_E7iw4eWWGeOBSf15",
        "type": "SnackBar",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Both fields are required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_E7iw4eWWGeOBSf15",
        "category": "General",
        "x": 245,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_mbMJJx88F7T7OmDk",
        "type": "PageSwitch",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.value.email",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.value.email",
        "rules": [
            {
                "t": "se",
                "v": "form.value.confirmEmail",
                "vt": "bh.input",
                "gv": "bh.input.form.value.confirmEmail"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mbMJJx88F7T7OmDk",
        "category": "Function",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "sd_4noCfEpBcFkthBlU"
            ],
            [
                "sd_tGDhZKrk9EAKR7VO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_OPZeC1VJNCzbiGPN",
        "type": "SnackBar",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Email addresses are not the same"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_OPZeC1VJNCzbiGPN",
        "category": "General",
        "x": 485,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_tGDhZKrk9EAKR7VO",
        "type": "Script",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.form)",
        "functionName": "sd_tGDhZKrk9EAKR7VO",
        "category": "Function",
        "x": 365,
        "y": 400,
        "wires": [
            [
                "sd_OPZeC1VJNCzbiGPN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    },
    {
        "id": "sd_m8ouTbMOYseKJPFd",
        "type": "Storage",
        "z": "sd_mIQbrWb6w3LDzc5P",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "this.page",
            "value": "localStorage"
        },
        "resultMapping": {},
        "functionName": "sd_m8ouTbMOYseKJPFd",
        "category": "Storage",
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "sd_0x70Mjb84xODJM4r"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "email_addressComponent",
        "generated": true
    }
]
