designs/pages/auth/activate_app/remote_app_pin.json
[
    {
        "id": "sd_YXyZ0O71O3s6JSO8",
        "type": "tab",
        "createdDate": "2024-05-13T10:50:30.833Z",
        "label": "remote_app_pin",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_MChADEiZHUa88OVL",
        "type": "OnInit",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_MChADEiZHUa88OVL",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_E5FBRc6XCm64szHy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_E5FBRc6XCm64szHy",
        "type": "PageVariables",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "remotePin",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{remotePin:\"\", email: \"\"}"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_E5FBRc6XCm64szHy",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_ZdqkxdhXTqJ4TWjp",
        "type": "PageStart",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "pages",
        "nodeType": "start",
        "name": "pin",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "pin",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_80PdDmMSYwVDdopq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_RsW8TtrHt9EABRdy",
        "type": "Script",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\n\nbh.url = page.ssdURL + 'log-in' ",
        "functionName": "sd_RsW8TtrHt9EABRdy",
        "category": "Function",
        "x": 205,
        "y": 200,
        "wires": [
            [
                "sd_JCIuNp1gZCXcVizs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_oq34dTfMOwOs8e3L",
        "type": "SnackBar",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ENTER YOUR PIN"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_oq34dTfMOwOs8e3L",
        "category": "General",
        "x": 405,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_Feko1zRLdZWqtKqo",
        "type": "Storage",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_Feko1zRLdZWqtKqo",
        "category": "Storage",
        "x": 405,
        "y": 140,
        "wires": [
            [
                "sd_Fp68ac5b072egagP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_JCIuNp1gZCXcVizs",
        "type": "PageSwitch",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JCIuNp1gZCXcVizs",
        "category": "Function",
        "x": 305,
        "y": 200,
        "wires": [
            [
                "sd_Feko1zRLdZWqtKqo"
            ],
            [
                "sd_oq34dTfMOwOs8e3L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_IcdPwFJiZPNPz0nT",
        "type": "Navigation",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/app_activation_instructions",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_IcdPwFJiZPNPz0nT",
        "category": "Navigation",
        "x": 885,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_80PdDmMSYwVDdopq",
        "type": "Environment",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_80PdDmMSYwVDdopq",
        "category": "General",
        "x": 125,
        "y": 200,
        "wires": [
            [
                "sd_RsW8TtrHt9EABRdy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_7qPIn8fU06SiDPm0",
        "type": "HttpRequest",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.remotePin",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "remotePin"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_7qPIn8fU06SiDPm0",
        "category": "HTTP",
        "x": 645,
        "y": 200,
        "wires": [
            [
                "sd_IcdPwFJiZPNPz0nT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_Fp68ac5b072egagP",
        "type": "Script",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('User infor', page.result)\npage.remotePin.email = page.result.email\nconsole.log('Body: ', page.remotePin)",
        "functionName": "sd_Fp68ac5b072egagP",
        "category": "Function",
        "x": 545,
        "y": 140,
        "wires": [
            [
                "sd_7qPIn8fU06SiDPm0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    }
]
