designs/pages/auth/activate_app/remote_app_pin.json
[
    {
        "id": "sd_YXyZ0O71O3s6JSO8",
        "type": "tab",
        "createdDate": "2024-05-13T10:50:30.833Z",
        "label": "remote_app_pin",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_MChADEiZHUa88OVL",
        "type": "OnInit",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_MChADEiZHUa88OVL",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_E5FBRc6XCm64szHy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_E5FBRc6XCm64szHy",
        "type": "PageVariables",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "remotePin",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{pin:\"\"}"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_E5FBRc6XCm64szHy",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_ZdqkxdhXTqJ4TWjp",
        "type": "PageStart",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "pages",
        "nodeType": "start",
        "name": "pin",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "pin",
        "category": "General",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "sd_RsW8TtrHt9EABRdy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "remote_app_pinComponent"
    },
    {
        "id": "sd_RsW8TtrHt9EABRdy",
        "type": "Script",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\n\n",
        "functionName": "sd_RsW8TtrHt9EABRdy",
        "category": "Function",
        "x": 205,
        "y": 200,
        "wires": [
            [
                "sd_JCIuNp1gZCXcVizs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_oq34dTfMOwOs8e3L",
        "type": "SnackBar",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ENTER YOUR PIN"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_oq34dTfMOwOs8e3L",
        "category": "General",
        "x": 425,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_Feko1zRLdZWqtKqo",
        "type": "Storage",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_Feko1zRLdZWqtKqo",
        "category": "Storage",
        "x": 545,
        "y": 140,
        "wires": [
            [
                "sd_IQ6qeI6Y3x9bfN9X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_JCIuNp1gZCXcVizs",
        "type": "PageSwitch",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JCIuNp1gZCXcVizs",
        "category": "Function",
        "x": 325,
        "y": 200,
        "wires": [
            [
                "sd_izbETDunkqFTRVEo"
            ],
            [
                "sd_oq34dTfMOwOs8e3L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_izbETDunkqFTRVEo",
        "type": "SnackBar",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "SHAP NEH!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_izbETDunkqFTRVEo",
        "category": "General",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_Feko1zRLdZWqtKqo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_IQ6qeI6Y3x9bfN9X",
        "type": "PageSwitch",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.remotePin",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.remotePin",
        "rules": [
            {
                "t": "eq",
                "v": "remotePin.pin",
                "vt": "this.page",
                "gv": "this.page.remotePin.pin"
            },
            {
                "t": "sne",
                "v": "remotePin.pin",
                "vt": "this.page",
                "gv": "this.page.remotePin.pin"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_IQ6qeI6Y3x9bfN9X",
        "category": "Function",
        "x": 665,
        "y": 220,
        "wires": [
            [
                "sd_gQ0Ya5dqzjTlvsyW"
            ],
            [
                "sd_vPyILlID1nlonnZN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_vPyILlID1nlonnZN",
        "type": "SnackBar",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INCORRECT PIN"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vPyILlID1nlonnZN",
        "category": "General",
        "x": 760,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_gQ0Ya5dqzjTlvsyW",
        "type": "SnackBar",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "SUCCESS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_gQ0Ya5dqzjTlvsyW",
        "category": "General",
        "x": 765,
        "y": 160,
        "wires": [
            [
                "sd_IcdPwFJiZPNPz0nT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    },
    {
        "id": "sd_IcdPwFJiZPNPz0nT",
        "type": "Navigation",
        "z": "sd_YXyZ0O71O3s6JSO8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/activate-new-app",
        "functionName": "sd_IcdPwFJiZPNPz0nT",
        "category": "Navigation",
        "x": 900,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "remote_app_pinComponent",
        "generated": true
    }
]

