designs/pages/more/scan_to_pay.json
[
    {
        "id": "sd_GQZet17bHn1eur3Q",
        "type": "tab",
        "createdDate": "2024-05-07T18:44:01.522Z",
        "label": "scan_to_pay",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "scan_to_payComponent"
    },
    {
        "id": "sd_3atS8q01zOCtM5Yg",
        "type": "OnInit",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_3atS8q01zOCtM5Yg",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_u10wDnqCbZP2hgf7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scan_to_payComponent"
    },
    {
        "id": "sd_tSQIFFsqjdZkMzg4",
        "type": "PageVariables",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_tSQIFFsqjdZkMzg4",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_X1SJJgzmSEpUaVyB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_rWyRUT8P5BOi0lE2",
        "type": "PageStart",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "pages",
        "nodeType": "start",
        "name": "viewData",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewData",
        "category": "General",
        "x": 60,
        "y": 160,
        "wires": [
            [
                "sd_iDWBGrb7ZN7K6OJV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "scan_to_payComponent"
    },
    {
        "id": "sd_iDWBGrb7ZN7K6OJV",
        "type": "Script",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log( 'Scan data: ', bh.input)\n\nif(bh.input.action) {\n    const data = JSON.stringify(bh.input.action.data.value[0].value)\n    const parsed = JSON.parse(data)\n    bh.scanned = JSON.parse(parsed)\n    bh.scanned.belongsTo = page.user.accountNumber\n    bh.scanned.transDate = new Date()\n    bh.scanned.transType = \"scan_to_pay\"\n    bh.scanned.statement = bh.scanned.itemName\n    bh.scanned.moneyType = 'moneyOut'\n}\n\nbh.userEmail = {\n    collection : \"users\"\n}\n\n  ",
        "functionName": "sd_iDWBGrb7ZN7K6OJV",
        "category": "Function",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "sd_PyKIvgf5KrzauESS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_X1SJJgzmSEpUaVyB",
        "type": "Storage",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_X1SJJgzmSEpUaVyB",
        "category": "Storage",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_6BmF5ejuGonayvMQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_PyKIvgf5KrzauESS",
        "type": "Environment",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_PyKIvgf5KrzauESS",
        "category": "General",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "sd_y7ZFKYoAHH0A5PQC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_y7ZFKYoAHH0A5PQC",
        "type": "PageSwitch",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.available_balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.available_balance",
        "rules": [
            {
                "t": "gte",
                "v": "scanned.amount",
                "vt": "bh",
                "gv": "bh.scanned.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_y7ZFKYoAHH0A5PQC",
        "category": "Function",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "sd_joqKwNT4ZT8rNFeF"
            ],
            [
                "sd_654F5tvgLuk8O2PK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_654F5tvgLuk8O2PK",
        "type": "SnackBar",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "INSUFICIENT FUNDS FOR TRANSACTION"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_654F5tvgLuk8O2PK",
        "category": "General",
        "x": 460,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_joqKwNT4ZT8rNFeF",
        "type": "Script",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + \"scan\"\nbh.url_scan = page.ssdUrl + \"update\"\nbh.newUser = page.ssdUrl + \"find-one-user\"\nbh.difference = page.user.available_balance - bh.scanned.amount\n\nbh.body = {\n    email: page.user.email,\n    available_balance : page.user.available_balance - bh.scanned.amount\n}\n\n\nbh.date =  bh.scanned.transDate.toDateString()\nbh.date = bh.date.split(' ')\nbh.date = `${bh.date[1]} ${bh.date[2]} ${bh.date[3]}`\n\npage.message = `Capitec: Payment -R${  bh.scanned.amount} from Savings Ref; ${  bh.scanned.transType}. Avail R${page.user['available balance'] ? page.user['available balance'] : page.user['available_balance']}; ${bh.date}.info: 082 123 1234`\npage.message = {\n    message: page.message,\n    read: false,\n    _type: 'payment',\n    belongsTo:   bh.scanned.belongsTo\n}\n\nconsole.log(page.message)\n\n\n",
        "functionName": "sd_joqKwNT4ZT8rNFeF",
        "category": "Function",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "sd_yEx1YWKthP8tTcpk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_yEx1YWKthP8tTcpk",
        "type": "HttpRequest",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.scanned",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "scanned"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_yEx1YWKthP8tTcpk",
        "category": "HTTP",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "sd_4F9w4oc7ZXyCTdE7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_GrzMCJ2i4qDJOSGK",
        "type": "HttpRequest",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update balance",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_scan",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_scan"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.results_balance",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results_balance"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateBalance",
        "category": "HTTP",
        "x": 725,
        "y": 120,
        "wires": [
            [
                "sd_IHGho6068fKiY9et"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_IHGho6068fKiY9et",
        "type": "HttpRequest",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.newUser",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "newUser"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.userEmail",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "userEmail"
        },
        "resultMapping": "bh.updated",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "updated"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getUser",
        "category": "HTTP",
        "x": 805,
        "y": 120,
        "wires": [
            [
                "sd_GkY3lk6BOBdhULHo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_sYrXDVqjwrsm9xwD",
        "type": "Storage",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {
            "type": "bh",
            "value": "newBalance"
        },
        "resultMapping": {},
        "functionName": "sd_sYrXDVqjwrsm9xwD",
        "category": "Storage",
        "x": 945,
        "y": 120,
        "wires": [
            [
                "sd_2v1ZO0yayUcVMDFb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_GkY3lk6BOBdhULHo",
        "type": "Script",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.newBalance = bh.updated.find((user:any) =>{\n    return user.email == page.user.email\n})\n",
        "functionName": "sd_GkY3lk6BOBdhULHo",
        "category": "Function",
        "x": 865,
        "y": 120,
        "wires": [
            [
                "sd_sYrXDVqjwrsm9xwD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_2v1ZO0yayUcVMDFb",
        "type": "Navigation",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/logged_in_landing/transact",
        "functionName": "sd_2v1ZO0yayUcVMDFb",
        "category": "Navigation",
        "x": 1045,
        "y": 120,
        "wires": [
            [
                "sd_xIpocRFFjVFYzgon"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_xIpocRFFjVFYzgon",
        "type": "SnackBar",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "SCAN TO  PAY SUCCESS"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "6000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_xIpocRFFjVFYzgon",
        "category": "General",
        "x": 1125,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_u10wDnqCbZP2hgf7",
        "type": "Environment",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_u10wDnqCbZP2hgf7",
        "category": "General",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "sd_tSQIFFsqjdZkMzg4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_6BmF5ejuGonayvMQ",
        "type": "Script",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + 'get-customers'\n",
        "functionName": "sd_6BmF5ejuGonayvMQ",
        "category": "Function",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "sd_YjqP2EpUYnLjmXpa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_YjqP2EpUYnLjmXpa",
        "type": "HttpRequest",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_YjqP2EpUYnLjmXpa",
        "category": "HTTP",
        "x": 560,
        "y": 40,
        "wires": [
            [
                "sd_3iGopO9FNSmkC2BZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_3iGopO9FNSmkC2BZ",
        "type": "Script",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = page.users.find(user => user.accountNumber === page.user.accountNumber)\n\nconsole.log('User: ', page.user)",
        "functionName": "sd_3iGopO9FNSmkC2BZ",
        "category": "Function",
        "x": 680,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    },
    {
        "id": "sd_4F9w4oc7ZXyCTdE7",
        "type": "PageCallService",
        "z": "sd_GQZet17bHn1eur3Q",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_zfYNdk36d9C7KQzH",
            "flowName": "addTransMessage"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "message"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "addTransMessage",
        "inputParams": [
            "this.page.message"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_4F9w4oc7ZXyCTdE7",
        "category": "General",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "sd_GrzMCJ2i4qDJOSGK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "scan_to_payComponent",
        "generated": true
    }
]
