designs/pages/auth/open_account/verify_identity.json
[
    {
        "id": "sd_XxBbYAdU1GgX4xX5",
        "type": "tab",
        "createdDate": "2024-05-17T10:29:47.073Z",
        "label": "verify_identity",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_i6iHe29eUO6MYHEV",
        "type": "OnInit",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_i6iHe29eUO6MYHEV",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_LylQfJPX6PSbx53x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_iqcHnNX7jsgHG1KD",
        "type": "PageVariables",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "clientDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formData",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formData1",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "formData2",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "file",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "file1",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "file2",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "uploadedImage",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "detected",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showLoader",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "currentYear",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "year",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "visible",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "visibleRemote",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_iqcHnNX7jsgHG1KD",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_vh3M7aFNa9ZH2tRe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_vh3M7aFNa9ZH2tRe",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clientDetails = {fullName: '', email: '', idNum: '', remotePin: '', confirmRemotePin: '', ID_doc: '', proof_of_res: '', picture: ''}\n",
        "functionName": "sd_vh3M7aFNa9ZH2tRe",
        "category": "Function",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_T7mUImT8NkaF1XwY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_r8Re82cZT1k3uHjb",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 920,
        "wires": [
            [
                "sd_iy0k1URc5RBDtesS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_TjoN80UNYFtZLJxm",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fileUpload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUpload",
        "category": "General",
        "x": 45,
        "y": 260,
        "wires": [
            [
                "sd_ghCy4D8XsVpSIUTz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_ghCy4D8XsVpSIUTz",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let file: File\nif(bh.input.event) {\n    file = bh.input.event.target.files\n    page.file = file[0]\n    bh.fileType =   page.file['type'].split('/')[0]\n    console.log('file type: ', bh.fileType)\n    bh.fileType = bh.fileType == 'image' || bh.fileType == 'application'\n    console.log('file type: ', bh.fileType)\n\n}else {\n    console.log('The is no file uploaded')\n}",
        "functionName": "sd_ghCy4D8XsVpSIUTz",
        "category": "Function",
        "x": 145,
        "y": 260,
        "wires": [
            [
                "sd_WLLdP4zM3Ki4cLtG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_MzwQKtXGUbXHRXL7",
        "type": "Log",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.idResult",
        "functionName": "sd_MzwQKtXGUbXHRXL7",
        "category": "General",
        "x": 865,
        "y": 180,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "idResult",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_YodjhkqTxOcyF5ze",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_YodjhkqTxOcyF5ze",
        "category": "Function",
        "x": 265,
        "y": 920,
        "wires": [
            [
                "sd_2npatBsYjuamHxnY"
            ],
            [
                "sd_lQdnzsA3YV6TT5Kt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_MqeKhT3sSFcWIKQ3",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fileUpload1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUpload1",
        "category": "General",
        "x": 45,
        "y": 440,
        "wires": [
            [
                "sd_oBFkdjb8Ql3rh59x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_oBFkdjb8Ql3rh59x",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let file: File\nif(bh.input.event) {\n    file = bh.input.event.target.files\n    page.file1 = file[0]\n    bh.fileType =   page.file1['type'].split('/')[0]\n    bh.fileType = bh.fileType == 'image' || bh.fileType == 'application' \n}else {\n    console.log('The is no file uploaded')\n}\n\nconsole.log('Upload proof: ', page.file1)",
        "functionName": "sd_oBFkdjb8Ql3rh59x",
        "category": "Function",
        "x": 145,
        "y": 440,
        "wires": [
            [
                "sd_h5KJ3DOJUwX9Y4so"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_RwTk3agOnlOs7pw7",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fileUpload2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fileUpload2",
        "category": "General",
        "x": 45,
        "y": 620,
        "wires": [
            [
                "sd_w4CPRgP40r1w23vw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_w4CPRgP40r1w23vw",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let file: File\nif(bh.input.event) {\n    file = bh.input.event.target.files\n    page.file2 = file[0]\n    bh.fileType =   page.file2['type'].split('/')[0]\n    console.log(bh.fileType)\n    bh.fileType = bh.fileType != 'image'\n    \n}else {\n    console.log('The is no file uploaded')\n    return\n}\n\nconsole.log(page.file2 )\nconsole.log(bh.fileType )\n\nlet fileReader = new FileReader();\nfileReader.readAsDataURL(page.file2)\nfileReader.onload = () => {\n    let result = fileReader.result\n    page.uploadedImage = result \n}\n\n",
        "functionName": "sd_w4CPRgP40r1w23vw",
        "category": "Function",
        "x": 145,
        "y": 620,
        "wires": [
            [
                "sd_tvEtJyb1Lshdqyga"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_EbyRnRbXd615cuEO",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload",
        "category": "General",
        "x": 425,
        "y": 260,
        "wires": [
            [
                "sd_jDQS3uqY3c5Zipqc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_OWfazeZy1TTRJC7Z",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload-ID'\nconsole.log(page.file)\npage.email = {email: page.clientDetails.email}\n\npage.formData = new FormData()\npage.formData.append('name', page.file)\nconsole.log('ID file name: ', page.formData.get('filename'))",
        "functionName": "sd_OWfazeZy1TTRJC7Z",
        "category": "Function",
        "x": 625,
        "y": 260,
        "wires": [
            [
                "sd_jDzfSGInPTSK1ja5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_cshorPjbVvQz583z",
        "type": "Environment",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_cshorPjbVvQz583z",
        "category": "General",
        "x": 185,
        "y": 920,
        "wires": [
            [
                "sd_YodjhkqTxOcyF5ze"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_YPjEtWNF1391B6dR",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'registration'\n// page.showLoader = true\n\n",
        "functionName": "sd_YPjEtWNF1391B6dR",
        "category": "Function",
        "x": 625,
        "y": 860,
        "wires": [
            [
                "sd_Zl4sfrzKEjaCwZlN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_jDQS3uqY3c5Zipqc",
        "type": "Environment",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_jDQS3uqY3c5Zipqc",
        "category": "General",
        "x": 525,
        "y": 260,
        "wires": [
            [
                "sd_OWfazeZy1TTRJC7Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_jDzfSGInPTSK1ja5",
        "type": "HttpRequest",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.formData",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "formData"
        },
        "resultMapping": "this.page.idResult",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "idResult"
        },
        "headers": [],
        "headersObj": {},
        "headerMapping": "this.page.email",
        "headerMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "email"
        },
        "params": [],
        "paramsObj": {},
        "paramMapping": "",
        "paramMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "functionName": "sd_jDzfSGInPTSK1ja5",
        "category": "HTTP",
        "x": 745,
        "y": 260,
        "wires": [
            [
                "sd_MzwQKtXGUbXHRXL7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_dZJCB8UvprZHv9My",
        "type": "Log",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.pic",
        "functionName": "sd_dZJCB8UvprZHv9My",
        "category": "General",
        "x": 905,
        "y": 540,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "pic",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_q9iR9kumFXM0USyI",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload2",
        "category": "General",
        "x": 425,
        "y": 620,
        "wires": [
            [
                "sd_p8J0CJr3iPKt8OpJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_E8DzeQlntR6MgXpw",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload-picture'\nconsole.log('File 2 filename: ', page.file2.filename)\npage.email = {email: page.clientDetails.email}\n\npage.formData2 = new FormData()\npage.formData2.append('name', page.file2)\nconsole.log('Pictures: ', page.formData2)",
        "functionName": "sd_E8DzeQlntR6MgXpw",
        "category": "Function",
        "x": 645,
        "y": 620,
        "wires": [
            [
                "sd_P1mrdIw6zytIle2B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_p8J0CJr3iPKt8OpJ",
        "type": "Environment",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_p8J0CJr3iPKt8OpJ",
        "category": "General",
        "x": 525,
        "y": 620,
        "wires": [
            [
                "sd_E8DzeQlntR6MgXpw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_P1mrdIw6zytIle2B",
        "type": "HttpRequest",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.formData2",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "formData2"
        },
        "resultMapping": "this.page.pic",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "pic"
        },
        "headers": [],
        "headersObj": {},
        "headerMapping": "this.page.email",
        "headerMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "email"
        },
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_P1mrdIw6zytIle2B",
        "category": "HTTP",
        "x": 765,
        "y": 620,
        "wires": [
            [
                "sd_dZJCB8UvprZHv9My"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_4NepmrrGzCt9YnLq",
        "type": "Log",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.proofOfRes",
        "functionName": "sd_4NepmrrGzCt9YnLq",
        "category": "General",
        "x": 885,
        "y": 360,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "proofOfRes",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_L0DD33j8JQBJeYVe",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload1",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload1",
        "category": "General",
        "x": 425,
        "y": 440,
        "wires": [
            [
                "sd_GBiU7hvutGKuTJSP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_GDm1BhSk7k93dxmO",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload-proof'\nconsole.log(page.file1)\npage.email = {email: page.clientDetails.email}\n\npage.formData1 = new FormData()\npage.formData1.append('name', page.file1)\nconsole.log('Proof: ',page.formData1.filename)",
        "functionName": "sd_GDm1BhSk7k93dxmO",
        "category": "Function",
        "x": 645,
        "y": 440,
        "wires": [
            [
                "sd_qkwU4mGrPepSNHo6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_GBiU7hvutGKuTJSP",
        "type": "Environment",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_GBiU7hvutGKuTJSP",
        "category": "General",
        "x": 525,
        "y": 440,
        "wires": [
            [
                "sd_GDm1BhSk7k93dxmO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_qkwU4mGrPepSNHo6",
        "type": "HttpRequest",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.formData1",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "formData1"
        },
        "resultMapping": "this.page.proofOfRes",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "proofOfRes"
        },
        "headers": [],
        "headersObj": {},
        "headerMapping": "this.page.email",
        "headerMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "email"
        },
        "params": [],
        "paramsObj": {},
        "paramMapping": "this.page.email",
        "paramMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "email"
        },
        "functionName": "sd_qkwU4mGrPepSNHo6",
        "category": "HTTP",
        "x": 765,
        "y": 440,
        "wires": [
            [
                "sd_4NepmrrGzCt9YnLq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_LexQ4t2N1P8VU9mC",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_XxBbYAdU1GgX4xX5",
            "type": "tab",
            "createdDate": "2024-05-17T10:29:47.073Z",
            "label": "verify_identity",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_L0DD33j8JQBJeYVe",
            "flowName": "upload1"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "upload1",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_LexQ4t2N1P8VU9mC",
        "category": "General",
        "x": 1185,
        "y": 600,
        "wires": [
            [
                "sd_I8UIvSuF16EFAFgd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_I8UIvSuF16EFAFgd",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_XxBbYAdU1GgX4xX5",
            "type": "tab",
            "createdDate": "2024-05-17T10:29:47.073Z",
            "label": "verify_identity",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_q9iR9kumFXM0USyI",
            "flowName": "upload2"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "upload2",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_I8UIvSuF16EFAFgd",
        "category": "General",
        "x": 1285,
        "y": 600,
        "wires": [
            [
                "sd_trI7dpLHV8CdnvOf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_trI7dpLHV8CdnvOf",
        "type": "HttpRequest",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.clientDetails",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "clientDetails"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_trI7dpLHV8CdnvOf",
        "category": "HTTP",
        "x": 1385,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_LylQfJPX6PSbx53x",
        "type": "UseDependency",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "faceapi",
        "propertyType": "bh",
        "propertyGv": "bh.faceapi",
        "alias": "faceapi",
        "modules": [],
        "import_all": true,
        "library": "face-api.js",
        "serviceDesignerType": "pages",
        "functionName": "sd_LylQfJPX6PSbx53x",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_iqcHnNX7jsgHG1KD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_yMqstbfvivON4QJl",
        "type": "AfterViewInit",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "start",
        "name": "After View Init",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 145,
        "y": 160,
        "wires": [
            [
                "sd_IJbhT0KUb6Z1sduz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_IJbhT0KUb6Z1sduz",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// document.addEventListener('deviceready', this.onDeviceReady, false);\n\n  await Promise.all([faceapi.nets.tinyFaceDetector.loadFromUri('../../assets/models'),\n                await faceapi.nets.faceLandmark68Net.loadFromUri('../../assets/models'),    \n                await faceapi.nets.faceRecognitionNet.loadFromUri('../../assets/models'),\n                await faceapi.nets.faceExpressionNet.loadFromUri('../../assets/models'),\n        ]) \n\n if(window.innerWidth < 1024) {\n        //  const modelPath = cordova.file.applicationDirectory + 'www/assets/models'\n        // await Promise.all([faceapi.nets.tinyFaceDetector.loadFromUri(modelPath),\n        //         await faceapi.nets.faceLandmark68Net.loadFromUri(modelPath),    \n        //         await faceapi.nets.faceRecognitionNet.loadFromUri(modelPath),\n        //         await faceapi.nets.faceExpressionNet.loadFromUri(modelPath),\n        //         ]).then(() => {\n        //                 console.log('Models loaded successfully')\n        //         }).catch((err) => {\n        //                 console.log('Error: ', err)\n        //         })\n        console.log('On the mobile phone')\n}else {    \n        // await Promise.all([faceapi.nets.tinyFaceDetector.loadFromUri('../../assets/models'),\n        //         await faceapi.nets.faceLandmark68Net.loadFromUri('../../assets/models'),    \n        //         await faceapi.nets.faceRecognitionNet.loadFromUri('../../assets/models'),\n        //         await faceapi.nets.faceExpressionNet.loadFromUri('../../assets/models'),\n        // ]) \n}\n\nconsole.log('CHANGES RUNNING: ', navigator)",
        "functionName": "sd_IJbhT0KUb6Z1sduz",
        "category": "Function",
        "x": 245,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_lQdnzsA3YV6TT5Kt",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All the fields and documents are required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_lQdnzsA3YV6TT5Kt",
        "category": "General",
        "x": 365,
        "y": 980,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_8Szscxq0EVjTBYiF",
        "type": "Navigation",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/prepare_for_selfie",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": {
            "type": "bh",
            "value": "routeData"
        },
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_8Szscxq0EVjTBYiF",
        "category": "Navigation",
        "x": 1485,
        "y": 780,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_SV7LEu4ccRmnkN59",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let queryImage = bh.pageViews.image.nativeElement\nconsole.log(queryImage)\nlet detectqueryImage = await faceapi.detectSingleFace(queryImage, new  faceapi.TinyFaceDetectorOptions())\n                            // .withFaceLandmarks().withFaceExpressions().withFaceDescriptor()\n\n\nif(!detectqueryImage) {\n    page.detected = false\n}else {\n    page.detected = true\n}",
        "functionName": "sd_SV7LEu4ccRmnkN59",
        "category": "Function",
        "x": 885,
        "y": 860,
        "wires": [
            [
                "sd_Vqwl6KW5osLETFZH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_Zl4sfrzKEjaCwZlN",
        "type": "ViewPicker",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "str",
                    "value": "image"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_Zl4sfrzKEjaCwZlN",
        "category": "Function",
        "x": 765,
        "y": 860,
        "wires": [
            [
                "sd_SV7LEu4ccRmnkN59"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_Vqwl6KW5osLETFZH",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "detected",
        "propertyType": "this.page",
        "propertyGv": "this.page.detected",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Vqwl6KW5osLETFZH",
        "category": "Function",
        "x": 1005,
        "y": 860,
        "wires": [
            [
                "sd_qi7thJp7eJAp0VNG"
            ],
            [
                "sd_PPDdfTlAlE3mv3QQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_cJuyaqglzE84MFAO",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "The face on your picture is not detectable, please upload a picture with a clear face"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_cJuyaqglzE84MFAO",
        "category": "General",
        "x": 1205,
        "y": 920,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_qi7thJp7eJAp0VNG",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showLoader = true\n\ndelete page.clientDetails.ID_doc\ndelete page.clientDetails.proof_of_res\ndelete page.clientDetails.picture\ndelete page.clientDetails.confirmRemotePin ",
        "functionName": "sd_qi7thJp7eJAp0VNG",
        "category": "Function",
        "x": 1085,
        "y": 780,
        "wires": [
            [
                "sd_cMRjItrAz1TfAlWt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_PPDdfTlAlE3mv3QQ",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showLoader = false\nconsole.log(page.detected)\n\n",
        "functionName": "sd_PPDdfTlAlE3mv3QQ",
        "category": "Function",
        "x": 1085,
        "y": 920,
        "wires": [
            [
                "sd_cJuyaqglzE84MFAO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_cMRjItrAz1TfAlWt",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showLoader = false\nbh.routeData = {isRegister: true}\n\nconsole.log('blob Image: ', page.uploadedImage)\n\n// ID\npage.formData = new FormData()\nconsole.log('File in the submit flow: ', page.file)\npage.formData.append('name', page.file)\nconsole.log('Form data: ', page.formData)\n// picture\npage.formData2 = new FormData()\npage.formData2.append('name', page.file2)\nconsole.log('Pictures: ', page.formData2)\n\n// Proof of residence\npage.formData1 = new FormData()\npage.formData1.append('name', page.file1)\n\n\nbh.user = {\n    \"ID\": page.file,\n    \"POR\": page.file1,\n    \"Pic\": page.file2,\n    \"userInfor\": page.clientDetails\n}\n\nconsole.log(\"To be stored user: \", bh.user)",
        "functionName": "sd_cMRjItrAz1TfAlWt",
        "category": "Function",
        "x": 1185,
        "y": 780,
        "wires": [
            [
                "sd_I3Zo3DarA8GU5a1J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_a0P3jaHg44tcxyRy",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "RemotePin and confirm RemotePin should match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_a0P3jaHg44tcxyRy",
        "category": "General",
        "x": 565,
        "y": 980,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_6JXYSh0xOM4Cvmne",
        "type": "Log",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_6JXYSh0xOM4Cvmne",
        "category": "General",
        "x": 1565,
        "y": 900,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_iy0k1URc5RBDtesS",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true\n\nconsole.log(bh.input.form)\n\nconsole.log(page.clientDetails.idNum.substring(0, 1))\nlet birthYear = Number(page.clientDetails.idNum.substring(0, 2))\n\nif(birthYear > 24 && birthYear <= 99) {\n    let year = '19' + page.clientDetails.idNum.substring(0, 2).toString()\n    console.log('String year 1990s: ', year)\n\n    birthYear =  Number(year)\n }else {\n    let year = '20' + page.clientDetails.idNum.substring(0, 2).toString()\n    birthYear =  Number(year)\n    console.log('String year 200s: ', year)\n\n }\n\npage.year = 2024 - birthYear\nconsole.log('Year: ', page.year)",
        "functionName": "sd_iy0k1URc5RBDtesS",
        "category": "Function",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "sd_cshorPjbVvQz583z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_7jUDxC3dlZXWYRCN",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "clientDetails.remotePin",
        "propertyType": "this.page",
        "propertyGv": "this.page.clientDetails.remotePin",
        "rules": [
            {
                "t": "eq",
                "v": "clientDetails.confirmRemotePin",
                "vt": "this.page",
                "gv": "this.page.clientDetails.confirmRemotePin"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_7jUDxC3dlZXWYRCN",
        "category": "Function",
        "x": 485,
        "y": 880,
        "wires": [
            [
                "sd_YPjEtWNF1391B6dR"
            ],
            [
                "sd_a0P3jaHg44tcxyRy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_2npatBsYjuamHxnY",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "year",
        "propertyType": "this.page",
        "propertyGv": "this.page.year",
        "rules": [
            {
                "t": "lt",
                "v": "16",
                "vt": "num",
                "gv": "16"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2npatBsYjuamHxnY",
        "category": "Function",
        "x": 365,
        "y": 820,
        "wires": [
            [
                "sd_zd2IaVy3cvgg5D8H"
            ],
            [
                "sd_7jUDxC3dlZXWYRCN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_zd2IaVy3cvgg5D8H",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "YOU ARE UNDER AGE TO OPEN AN ACCOUNT WITH US"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zd2IaVy3cvgg5D8H",
        "category": "General",
        "x": 485,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_tvEtJyb1Lshdqyga",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "fileType",
        "propertyType": "bh",
        "propertyGv": "bh.fileType",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_tvEtJyb1Lshdqyga",
        "category": "Function",
        "x": 225,
        "y": 620,
        "wires": [
            [
                "sd_ths24UaiQ5KpQReI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_2oOpAwFPIbxRXAQD",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Only accepts a picture"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2oOpAwFPIbxRXAQD",
        "category": "General",
        "x": 365,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_ths24UaiQ5KpQReI",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.file2 )\n// alert(\"Please select an image\")\ndelete page.clientDetails.picture\n",
        "functionName": "sd_ths24UaiQ5KpQReI",
        "category": "Function",
        "x": 285,
        "y": 720,
        "wires": [
            [
                "sd_2oOpAwFPIbxRXAQD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_h5KJ3DOJUwX9Y4so",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "fileType",
        "propertyType": "bh",
        "propertyGv": "bh.fileType",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_h5KJ3DOJUwX9Y4so",
        "category": "Function",
        "x": 225,
        "y": 440,
        "wires": [
            [
                "sd_e5cm3ytWWRfz97n0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_TlWijRmbHHT8uxK9",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Only accepts a picture"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_TlWijRmbHHT8uxK9",
        "category": "General",
        "x": 365,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_e5cm3ytWWRfz97n0",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.file2 )\n// alert(\"Please select an image\")\ndelete page.clientDetails.proof_of_res\n",
        "functionName": "sd_e5cm3ytWWRfz97n0",
        "category": "Function",
        "x": 285,
        "y": 540,
        "wires": [
            [
                "sd_TlWijRmbHHT8uxK9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_WLLdP4zM3Ki4cLtG",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "fileType",
        "propertyType": "bh",
        "propertyGv": "bh.fileType",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_WLLdP4zM3Ki4cLtG",
        "category": "Function",
        "x": 225,
        "y": 260,
        "wires": [
            [
                "sd_xMMAL908qGIuiYNp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_pgvIqW8E1JbWlfKG",
        "type": "SnackBar",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Only accepts a picture"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_pgvIqW8E1JbWlfKG",
        "category": "General",
        "x": 365,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_xMMAL908qGIuiYNp",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.file2 )\n// alert(\"Please select an image\")\ndelete page.clientDetails.ID_doc\n",
        "functionName": "sd_xMMAL908qGIuiYNp",
        "category": "Function",
        "x": 285,
        "y": 360,
        "wires": [
            [
                "sd_pgvIqW8E1JbWlfKG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_caaz9ptasW1kcCsI",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showPwd",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showPwd",
        "category": "General",
        "x": 65,
        "y": 1140,
        "wires": [
            [
                "sd_Mf1mJXdOyWb2aIG9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_Mf1mJXdOyWb2aIG9",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.visible = !page.visible",
        "functionName": "sd_Mf1mJXdOyWb2aIG9",
        "category": "Function",
        "x": 200,
        "y": 1140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_iqg8FPB6j1RYz4zC",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showRemotePin",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showRemotePin",
        "category": "General",
        "x": 65,
        "y": 1240,
        "wires": [
            [
                "sd_pvhKmpUQCNpNwuuf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_pvhKmpUQCNpNwuuf",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.visibleRemote = !page.visibleRemote",
        "functionName": "sd_pvhKmpUQCNpNwuuf",
        "category": "Function",
        "x": 200,
        "y": 1240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_nLZ9whzcco4IS1Qt",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.error",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.error",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_nLZ9whzcco4IS1Qt",
        "category": "Function",
        "x": 1565,
        "y": 660,
        "wires": [
            [
                "sd_kslyokL9RaZCN7iX"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_kslyokL9RaZCN7iX",
        "type": "PageSwitch",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.error.message",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.error.message",
        "rules": [
            {
                "t": "eq",
                "v": "USER ALREADY EXISTS!",
                "vt": "str",
                "gv": "\"USER ALREADY EXISTS!\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_kslyokL9RaZCN7iX",
        "category": "Function",
        "x": 1685,
        "y": 640,
        "wires": [
            [
                "sd_3VqyJrTLD6GOFUxS"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_3VqyJrTLD6GOFUxS",
        "type": "Navigation",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/basic_details",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_3VqyJrTLD6GOFUxS",
        "category": "Navigation",
        "x": 1785,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_RenDmkz14Of1hUUb",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 80,
        "y": 1380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_T7mUImT8NkaF1XwY",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_XxBbYAdU1GgX4xX5",
            "type": "tab",
            "createdDate": "2024-05-17T10:29:47.073Z",
            "label": "verify_identity",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_od5Y24XY2KY1Vjhg",
            "flowName": "loadModels"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "loadModels",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_T7mUImT8NkaF1XwY",
        "category": "General",
        "x": 460,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_od5Y24XY2KY1Vjhg",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "loadModels",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "loadModels",
        "category": "General",
        "x": 565,
        "y": 40,
        "wires": [
            [
                "sd_GOZAPxbwYlnHc5qq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_GOZAPxbwYlnHc5qq",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Hey')\n\nconst modelBaseUrl = 'https://raw.githubusercontent.com/Simphiwe20/models/main/';\n\nconst loadAllModels = async () => {\n  try {\n    await faceapi.nets.tinyFaceDetector.loadFromUri(modelBaseUrl);\n    await faceapi.nets.faceLandmark68Net.loadFromUri(modelBaseUrl);\n    await faceapi.nets.faceRecognitionNet.loadFromUri(modelBaseUrl);\n    await faceapi.nets.ssdMobilenetv1.loadFromUri(modelBaseUrl);\n\n    console.log('All models loaded successfully');\n  } catch (error) {\n    console.error('Error loading models:', error);\n  }\n};\n\nloadAllModels();\n",
        "functionName": "sd_GOZAPxbwYlnHc5qq",
        "category": "Function",
        "x": 720,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_km32ez3pcBhbFEeC",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "loadModel",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "net",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "modelBaseUrl",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "manifestUrl",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "loadModel",
        "category": "General",
        "x": 860,
        "y": 40,
        "wires": [
            [
                "sd_QY5eR9PE3Ee4W38D"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_QY5eR9PE3Ee4W38D",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "try {\n      // Fetch the weights manifest JSON\n      const response = await fetch(bh.input.manifestUrl);\n      console.log('Response in the load model')\n      if (!response.ok) {\n        throw new Error(`Failed to fetch manifest: ${response.statusText}`);\n      }\n      const manifest = await response.json();\n      console.log('Loaded manifest:', manifest);\n\n      // Load weights\n      const weightPaths = manifest.weights.map((weight: any) => `${bh.input.modelBaseUrl}${weight.paths[0]}`);\n      console.log('Weight paths:', weightPaths);\n\n      const weights = await Promise.all(weightPaths.map((weightPath: string) => this.fetchBinaryFile(weightPath)));\n      console.log('Loaded weights:', weights);\n\n      await bh.input.net.load(weights);\n      console.log(`Loaded model from manifest: ${bh.input.manifestUrl}`);\n    } catch (error) {\n      console.error(`Error loading model from ${bh.input.manifestUrl}:`, error);\n      throw error;\n    }",
        "functionName": "sd_QY5eR9PE3Ee4W38D",
        "category": "Function",
        "x": 985,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_aiKUHNHqI9FS0j5l",
        "type": "PageStart",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fetchBinaryFile",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "url",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fetchBinaryFile",
        "category": "General",
        "x": 1125,
        "y": 40,
        "wires": [
            [
                "sd_2gYteBlDScNBkNSY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_2gYteBlDScNBkNSY",
        "type": "Script",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " const response = await fetch(bh.input.url);\nconsole.log('Response in the fetch binary', response)\n    if (!response.ok) {\n      throw new Error(`Failed to fetch binary file: ${response.statusText}`);\n    }\n    return await response.arrayBuffer();",
        "functionName": "sd_2gYteBlDScNBkNSY",
        "category": "Function",
        "x": 1300,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_3BdgbHiRvJgKJlHU",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_XxBbYAdU1GgX4xX5",
            "type": "tab",
            "createdDate": "2024-05-17T10:29:47.073Z",
            "label": "verify_identity",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_EbyRnRbXd615cuEO",
            "flowName": "upload"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "upload",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_3BdgbHiRvJgKJlHU",
        "category": "General",
        "x": 1085,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_I3Zo3DarA8GU5a1J",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "setInfor",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_zkS5LAb1i6lpVHqi",
            "flowName": "setInfor"
        },
        "inputVariables": [
            {
                "key": "userInfor",
                "map": true,
                "valueType": "bh",
                "value": "user"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "setInfor",
        "inputParams": [
            "bh.user"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "setInfor",
        "category": "General",
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "sd_W6N6qHGZm9qAd6pi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    },
    {
        "id": "sd_Qxd6y8Kjb6tAizFH",
        "type": "Storage",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "userInfor"
        },
        "value": {
            "type": "bh",
            "value": "user"
        },
        "resultMapping": {},
        "functionName": "sd_Qxd6y8Kjb6tAizFH",
        "category": "Storage",
        "x": 1665,
        "y": 900,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verify_identityComponent"
    },
    {
        "id": "sd_W6N6qHGZm9qAd6pi",
        "type": "PageCallService",
        "z": "sd_XxBbYAdU1GgX4xX5",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "setPic",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_5UGzOEy4mOe0ZnWE",
            "flowName": "setPic"
        },
        "inputVariables": [
            {
                "key": "userImage",
                "map": true,
                "valueType": "this.page",
                "value": "uploadedImage"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "setPic",
        "inputParams": [
            "this.page.uploadedImage"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "setPic",
        "category": "General",
        "x": 1385,
        "y": 780,
        "wires": [
            [
                "sd_8Szscxq0EVjTBYiF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verify_identityComponent",
        "generated": true
    }
]
