designs/pages/PopUps/confirm.json
[
    {
        "id": "sd_kFnWQ7JIsWQlNXgG",
        "type": "tab",
        "createdDate": "2024-06-02T12:06:45.852Z",
        "label": "confirm",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_QLWzyv6DlDVQyfJO",
        "type": "OnInit",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_QLWzyv6DlDVQyfJO",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_54vwdMofxVjGaRQc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_54vwdMofxVjGaRQc",
        "type": "PageVariables",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "remotePin",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{remotePin: '', email: ''}"
                }
            }
        ],
        "functionName": "sd_54vwdMofxVjGaRQc",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_WE3y2AaH4zuC0V16"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_xemz5o5iCHRcIf9b",
        "type": "PageStart",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeDialog",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeDialog",
        "category": "General",
        "x": 45,
        "y": 140,
        "wires": [
            [
                "sd_vuTmIqMPCabDh6aJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_vuTmIqMPCabDh6aJ",
        "type": "CloseDialog",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.dialogData",
        "functionName": "sd_vuTmIqMPCabDh6aJ",
        "category": "Dialog",
        "x": 205,
        "y": 140,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "dialogData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_EsYtUAzDmcat5TMY",
        "type": "PageStart",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "pin",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "pin",
        "category": "General",
        "x": 50,
        "y": 300,
        "wires": [
            [
                "sd_WGI00ER8gMn6lOQe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_eomNOZqv3doT0uyd",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\n\nbh.url = page.ssdURL + 'log-in' \n\nconsole.log(bh.input.form)",
        "functionName": "sd_eomNOZqv3doT0uyd",
        "category": "Function",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "sd_Az7vbfAZGQ1GDJB6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_5YkqmtOhcmZiQUsj",
        "type": "SnackBar",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ENTER YOUR PIN"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_5YkqmtOhcmZiQUsj",
        "category": "General",
        "x": 405,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_x5ScikLWMJG30igv",
        "type": "Storage",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_x5ScikLWMJG30igv",
        "category": "Storage",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "sd_oCGfBgIbVw26irt1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_Az7vbfAZGQ1GDJB6",
        "type": "PageSwitch",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Az7vbfAZGQ1GDJB6",
        "category": "Function",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "sd_x5ScikLWMJG30igv"
            ],
            [
                "sd_5YkqmtOhcmZiQUsj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_Fg9uBIyWmxZNPkcO",
        "type": "Navigation",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/logged_in_landing/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_Fg9uBIyWmxZNPkcO",
        "category": "Navigation",
        "x": 925,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_WGI00ER8gMn6lOQe",
        "type": "Environment",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_WGI00ER8gMn6lOQe",
        "category": "General",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "sd_eomNOZqv3doT0uyd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_mHdOmAI2kUtZTX7B",
        "type": "HttpRequest",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.remotePin",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "remotePin"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_mHdOmAI2kUtZTX7B",
        "category": "HTTP",
        "x": 585,
        "y": 220,
        "wires": [
            [
                "sd_a6HHx8pjf14qgLlk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_oCGfBgIbVw26irt1",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.remotePin.email = page.result.email\nconsole.log('Body: ', page.remotePin)",
        "functionName": "sd_oCGfBgIbVw26irt1",
        "category": "Function",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "sd_mHdOmAI2kUtZTX7B"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_WE3y2AaH4zuC0V16",
        "type": "GetDialogData",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.data",
        "functionName": "sd_WE3y2AaH4zuC0V16",
        "category": "Dialog",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "sd_s6LFDBnc7MIdVVX8",
                "sd_9wvCS51D5qUrb6nQ"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_s6LFDBnc7MIdVVX8",
        "type": "Log",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.data",
        "functionName": "sd_s6LFDBnc7MIdVVX8",
        "category": "General",
        "x": 425,
        "y": 120,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_L9kwDBRBYlIq9Lge",
        "type": "PageCallService",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_kFnWQ7JIsWQlNXgG",
            "type": "tab",
            "createdDate": "2024-06-02T12:06:45.852Z",
            "label": "confirm",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_xemz5o5iCHRcIf9b",
            "flowName": "closeDialog"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "closeDialog",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_L9kwDBRBYlIq9Lge",
        "category": "General",
        "x": 825,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_a6HHx8pjf14qgLlk",
        "type": "PageSwitch",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "this.page",
        "propertyGv": "this.page.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_a6HHx8pjf14qgLlk",
        "category": "Function",
        "x": 685,
        "y": 220,
        "wires": [
            [
                "sd_DhQcuz0ZDCysppfi"
            ],
            [
                "sd_A8dS5WypJ5PIw8LY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_A8dS5WypJ5PIw8LY",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('User is empty: ', page.result)",
        "functionName": "sd_A8dS5WypJ5PIw8LY",
        "category": "Function",
        "x": 825,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_DhQcuz0ZDCysppfi",
        "type": "CloseDialog",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.result",
        "functionName": "sd_DhQcuz0ZDCysppfi",
        "category": "Dialog",
        "x": 825,
        "y": 160,
        "wires": [
            [
                "sd_Gyy01HzdErZt77I8"
            ]
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_Gyy01HzdErZt77I8",
        "type": "Log",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.result",
        "functionName": "sd_Gyy01HzdErZt77I8",
        "category": "General",
        "x": 945,
        "y": 160,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_9wvCS51D5qUrb6nQ",
        "type": "PageCallService",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_54PzYAXeeWhXZO4M",
            "type": "tab",
            "createdDate": "2024-05-27T20:36:06.680Z",
            "label": "api_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_5L8rx8uHwQXOEPYs",
            "flowName": "getCode"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "code",
                "valueType": "this.page",
                "value": "code",
                "mapVarName": "code",
                "localVar": "this.page.code"
            }
        ],
        "serviceImportPath": "app/sd-services/api_service",
        "startName": "getCode",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_9wvCS51D5qUrb6nQ",
        "category": "General",
        "x": 440,
        "y": 40,
        "wires": [
            [
                "sd_CZbpHWttlWzIMksV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_CZbpHWttlWzIMksV",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Code:', page.code)",
        "functionName": "sd_CZbpHWttlWzIMksV",
        "category": "Function",
        "x": 560,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_ThJD7PFgdAIaS540",
        "type": "PageStart",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "confirm",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "confirm",
        "category": "General",
        "x": 65,
        "y": 620,
        "wires": [
            [
                "sd_0AqgRBQKDHTYk1G7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "confirmComponent"
    },
    {
        "id": "sd_m1orLhvy8RK3qdFg",
        "type": "PageSwitch",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_m1orLhvy8RK3qdFg",
        "category": "Function",
        "x": 265,
        "y": 620,
        "wires": [
            [
                "sd_3W1Ggxtw7UILbWNv"
            ],
            [
                "sd_0gpat3gjscANRpem"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_0AqgRBQKDHTYk1G7",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('FORM: ', bh.input.form)\n\nbh.code = bh.input.form.value.remotePin",
        "functionName": "sd_0AqgRBQKDHTYk1G7",
        "category": "Function",
        "x": 165,
        "y": 620,
        "wires": [
            [
                "sd_m1orLhvy8RK3qdFg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_0gpat3gjscANRpem",
        "type": "SnackBar",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please enter a code that was send to your email"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0gpat3gjscANRpem",
        "category": "General",
        "x": 365,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_3W1Ggxtw7UILbWNv",
        "type": "PageSwitch",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "code",
        "propertyType": "bh",
        "propertyGv": "bh.code",
        "rules": [
            {
                "t": "eq",
                "v": "code",
                "vt": "this.page",
                "gv": "this.page.code"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_3W1Ggxtw7UILbWNv",
        "category": "Function",
        "x": 365,
        "y": 560,
        "wires": [
            [
                "sd_tBCzluL9cgQ3XH5P"
            ],
            [
                "sd_902FLStP0z4SoWYV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_tBCzluL9cgQ3XH5P",
        "type": "Script",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Password correct')\nbh.feedback = { feeback: \"Verification was sucessfully\" }",
        "functionName": "sd_tBCzluL9cgQ3XH5P",
        "category": "Function",
        "x": 465,
        "y": 500,
        "wires": [
            [
                "sd_IYHLrPx5f2RruxSf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_902FLStP0z4SoWYV",
        "type": "SnackBar",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Verification code is incorrect"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_902FLStP0z4SoWYV",
        "category": "General",
        "x": 465,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    },
    {
        "id": "sd_IYHLrPx5f2RruxSf",
        "type": "CloseDialog",
        "z": "sd_kFnWQ7JIsWQlNXgG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.feedback",
        "functionName": "sd_IYHLrPx5f2RruxSf",
        "category": "Dialog",
        "x": 605,
        "y": 500,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh",
                "value": "feedback",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "confirmComponent",
        "generated": true
    }
]
