designs/pages/PopUps/sign_in.json
[
    {
        "id": "sd_lA3dVsZwBasBKkQy",
        "type": "tab",
        "createdDate": "2024-06-01T20:47:17.191Z",
        "label": "sign_in",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_5JsP3BNwG80wAkMx",
        "type": "OnInit",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_5JsP3BNwG80wAkMx",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_iI58iEnEmdYSWYDm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_ic4YpsSwlTCKhn8J",
        "type": "PageVariables",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "remotePin",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{remotePin:\"\", email: \"\"}"
                }
            },
            {
                "textIp": "visible",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_ic4YpsSwlTCKhn8J",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_0LqEzkpXv0YuSuCa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_Sb0a1V1pjDzITnGc",
        "type": "PageStart",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "closeDialog",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "closeDialog",
        "category": "General",
        "x": 60,
        "y": 160,
        "wires": [
            [
                "sd_mfqLSper1omktTPw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_mfqLSper1omktTPw",
        "type": "CloseDialog",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.dialogData",
        "functionName": "sd_mfqLSper1omktTPw",
        "category": "Dialog",
        "x": 200,
        "y": 160,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "dialogData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_rvCb7QucNCHV92xN",
        "type": "PageStart",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "pin",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "pin",
        "category": "General",
        "x": 65,
        "y": 300,
        "wires": [
            [
                "sd_9CLuEYB1TzPU05xD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_UdRvwnLEBzAcm6lf",
        "type": "Script",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.submitted = true;\n\nbh.url = page.ssdURL + 'log-in' \n\nconsole.log(bh.input.form)",
        "functionName": "sd_UdRvwnLEBzAcm6lf",
        "category": "Function",
        "x": 225,
        "y": 300,
        "wires": [
            [
                "sd_WzVxROdcEEMuelsA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_eiXSYQiBpFistKk0",
        "type": "SnackBar",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "ENTER YOUR PIN"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_eiXSYQiBpFistKk0",
        "category": "General",
        "x": 405,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_2mBlqnLVRMP9wtrS",
        "type": "Storage",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "accNo"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_2mBlqnLVRMP9wtrS",
        "category": "Storage",
        "x": 405,
        "y": 220,
        "wires": [
            [
                "sd_1n4WZa2iHs9EFx9Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_WzVxROdcEEMuelsA",
        "type": "PageSwitch",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WzVxROdcEEMuelsA",
        "category": "Function",
        "x": 325,
        "y": 300,
        "wires": [
            [
                "sd_2mBlqnLVRMP9wtrS"
            ],
            [
                "sd_eiXSYQiBpFistKk0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_Us1fSWNnzxoyieBk",
        "type": "Navigation",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "pathMap": {
            "type": "this.page",
            "value": "route"
        },
        "resultMapping": {
            "type": "this.page",
            "value": "res"
        },
        "functionName": "sd_Us1fSWNnzxoyieBk",
        "category": "Navigation",
        "x": 805,
        "y": 320,
        "wires": [
            [
                "sd_rbkvi0IIBt0nmuUJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_9CLuEYB1TzPU05xD",
        "type": "Environment",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_9CLuEYB1TzPU05xD",
        "category": "General",
        "x": 145,
        "y": 300,
        "wires": [
            [
                "sd_UdRvwnLEBzAcm6lf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_Lb4YpPPAWpr2NFGO",
        "type": "HttpRequest",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.remotePin",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "remotePin"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Lb4YpPPAWpr2NFGO",
        "category": "HTTP",
        "x": 665,
        "y": 220,
        "wires": [
            [
                "sd_ThxTUviuYsW41lAu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_1n4WZa2iHs9EFx9Y",
        "type": "Script",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.remotePin.email = page.result.email\nconsole.log('Body: ', page.remotePin)\nconsole.log('Navigate user to: ', page.route)",
        "functionName": "sd_1n4WZa2iHs9EFx9Y",
        "category": "Function",
        "x": 485,
        "y": 220,
        "wires": [
            [
                "sd_rhrrt9AyjDtBExxI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_rhrrt9AyjDtBExxI",
        "type": "PageCallService",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_lA3dVsZwBasBKkQy",
            "type": "tab",
            "createdDate": "2024-06-01T20:47:17.191Z",
            "label": "sign_in",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Sb0a1V1pjDzITnGc",
            "flowName": "closeDialog"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "closeDialog",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_rhrrt9AyjDtBExxI",
        "category": "General",
        "x": 585,
        "y": 220,
        "wires": [
            [
                "sd_Lb4YpPPAWpr2NFGO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_XJ5ZX8tG1tuM0zaz",
        "type": "PageStart",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showPwd",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showPwd",
        "category": "General",
        "x": 65,
        "y": 500,
        "wires": [
            [
                "sd_olX5fx6icE5Q4Xbo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_olX5fx6icE5Q4Xbo",
        "type": "Script",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.visible = !page.visible",
        "functionName": "sd_olX5fx6icE5Q4Xbo",
        "category": "Function",
        "x": 200,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_0LqEzkpXv0YuSuCa",
        "type": "GetDialogData",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.route",
        "functionName": "sd_0LqEzkpXv0YuSuCa",
        "category": "Dialog",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_3JvHdLCcxxTN7THh"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "route",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_3JvHdLCcxxTN7THh",
        "type": "Log",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.route",
        "functionName": "sd_3JvHdLCcxxTN7THh",
        "category": "General",
        "x": 505,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "route",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_rbkvi0IIBt0nmuUJ",
        "type": "Log",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.res",
        "functionName": "sd_rbkvi0IIBt0nmuUJ",
        "category": "General",
        "x": 905,
        "y": 400,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "res",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "sign_inComponent"
    },
    {
        "id": "sd_ThxTUviuYsW41lAu",
        "type": "Script",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.router.navigate([page.route])",
        "functionName": "sd_ThxTUviuYsW41lAu",
        "category": "Function",
        "x": 785,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    },
    {
        "id": "sd_iI58iEnEmdYSWYDm",
        "type": "UseDependency",
        "z": "sd_lA3dVsZwBasBKkQy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_iI58iEnEmdYSWYDm",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_ic4YpsSwlTCKhn8J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "sign_inComponent",
        "generated": true
    }
]
